@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    GenericManager<EIVOEntityDataContext> models;

    models = ViewContext.Controller.DataSource();
    UserProfileMember _profile = Context.GetUser();
    _modelState = (ModelStateDictionary)ViewBag.ModelState;

    IQueryable<ProductCatalog> items = models.DataContext.FilterProductCatalogByRole(_profile, models.GetTable<ProductCatalog>());

}

<tr>
    <td><input class="form-control" name="ItemNo" type="text" /></td>
    <td>
        <input class="form-control" name="Brief" onclick="@(items.Count()>0 ? "uiInvoice.quickSearch(this);" : null)" required type="text" placeholder="請輸入品名!!" />
    </td>
    <td><input class="form-control" name="Piece" type="number" required min="1" step="1" value="1" placeholder="請輸入件數!!" /></td>
    <td><input class="form-control" name="UnitCost" type="number" required min="1" step="1" value="1" placeholder="請輸入單價!!" /></td>
    <td><input class="form-control" name="CostAmount" type="number" /></td>
    <td><input class="form-control" name="ItemRemark" type="text" /></td>
    <td>
        <button type="button" class="btn" onclick="uiInvoice.addRow();">新增</button>
    </td>
</tr>


