<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcessorRecord.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcessorRecord.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ProcessorRecord.Properties.Settings>
            <setting name="watcherPath" serializeAs="String">
                <value>C:\UXB2B_EIVO\PreInvoice(ResponseToPGP)</value>
            </setting>
            <setting name="InvoiceRequestwatcherPath" serializeAs="String">
                <value>C:\RecUXB2B_EIVO\PreInvoice</value>
            </setting>
        </ProcessorRecord.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ProcessorRecord.Properties.Settings>
            <setting name="AllowanceRequestwatcherPath" serializeAs="String">
                <value>D:\RecUXB2B_EIVO\Allowance</value>
            </setting>
            <setting name="AllowanceResponsewatcherPath" serializeAs="String">
                <value>D:\RecUXB2B_EIVO\Allowance(ResponseToPGP)</value>
            </setting>
            <setting name="AllowancePdfPath" serializeAs="String">
                <value>D:\RecUXB2B_EIVO\AllowancePdfTemp</value>
            </setting>
            <setting name="DeleteFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DB_Name" serializeAs="String">
                <value>EIVO03</value>
            </setting>
            <setting name="DB" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </ProcessorRecord.Properties.Settings>
    </userSettings>
</configuration>