
@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using eIVOGo.Module.Common
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI

<!DOCTYPE html>
<html>
<head runat="server">
    <title>電子發票系統</title>
    <link href="~/App_Themes/Ver2016/eivo.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body style="font-family:KaiTi">
    <form id="theForm" runat="server">
        @{ String invoicePrintView;}
 @if (_viewModel?.UseCustomView == true && (invoicePrintView = _model.Organization.OrganizationStatus.InvoicePrintView.GetEfficientString()) != null)
            {
                Html.RenderPartial(invoicePrintView, _model);
            }
            else
            {
                Html.RenderPartial("~/Views/DataView/Module/InvoiceView2016.ascx", _model);
            }
    </form>
</body>
</html>
@if (_viewModel?.ResultMode == Naming.DataResultMode.Print)
    {
<script>
    window.onload = function () {
        window.print();
    };
</script>
}
<script runat="server">

    ModelSource<InvoiceItem> models;
    InvoiceItem _model;
    RenderStyleViewModel _viewModel;

    protected override void OnInit(EventArgs e)
    {
        base.OnInit(e);

        models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
        _model = (InvoiceItem)this.Model;
        _viewModel = (RenderStyleViewModel)ViewBag.ViewModel;
    }


</script>