@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using eIVOGo.Module.Common
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@{

  ModelSource<InvoiceItem> models;
  InvoiceAllowance _model;
  QueryViewModel _viewModel;

  models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
  _model = (InvoiceAllowance)this.Model;
  _viewModel = (QueryViewModel)ViewBag.ViewModel;
}
<!DOCTYPE html>
<html>

<head>
  <title>電子發票系統</title>
  <link href="../App_Themes/POSAllowance/POS_allowance.css" rel="stylesheet" />
  <link href="../App_Themes/POSAllowance/POS_allowances_v1.css" rel="stylesheet" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>

<body style="margin:0px;font-weight: bold;font-family: monospace;">
  <form id="theForm">
    @{
      Html.RenderPartial("~/Views/DataView/Module/D0401.cshtml", _model);
    }
  </form>
</body>

</html>
@if (_viewModel?.ResultMode == Naming.DataResultMode.Print)
{
  <script>
    window.onload = function () {
      window.print();
    };
  </script>
}
