
@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using eIVOGo.Module.Common
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Business.Helper
@using Model.Helper
@using Uxnet.Web.WebUI
@{

    ModelSource<InvoiceItem> models;
    IQueryable<DocumentPrintQueue> _model;
    RenderStyleViewModel _viewModel;


    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _model = (IQueryable<DocumentPrintQueue>)this.Model;
    _viewModel = ViewBag.ViewModel as RenderStyleViewModel;
    if (_viewModel == null)
    {
        _viewModel = this.TempData["viewModel"] as RenderStyleViewModel;
        if (_viewModel != null)
        {
            ViewBag.ViewModel = _viewModel;
        }
    }
}
<!DOCTYPE html>
<html>
<head runat="server">
    <title>電子發票系統</title>
    <link href="../App_Themes/POSPrint/POS_eivo.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        div.fspace {
            height: 8.8cm;
        }

        div.bspace {
            height: 8.9cm;
        }

        body, td, th {
            font-family: Verdana, Arial, Helvetica, sans-serif, "細明體", "新細明體";
        }
    </style>
    @*<script type="text/javascript" src="../Scripts/css3-multi-column.js"></script>*@
</head>
<body style="margin:0px;">
    <form id="theForm" runat="server">
        @{ 
            var profile = Context.GetUser();
            String invoicePrintView;
            foreach (var item in _model.OrderBy(d => d.SubmitID).ToList())
            {
                invoicePrintView = _viewModel.UseCustomView == true
                    ? item.CDS_Document.InvoiceItem.Organization.OrganizationCustomSetting?.Settings?.C0401POSView
                    : null;
                Html.RenderPartial(invoicePrintView ?? "~/Views/DataView/Module/C0401_POS.cshtml", item.CDS_Document.InvoiceItem);
                models.MarkPrintedLog(item.CDS_Document.InvoiceItem, profile);
            }
        }
    </form>
</body>
</html>

<script>
    window.onload = function () {
        window.print();
    };
</script>



