<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InvoiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <InvoiceClient.Properties.Settings>
            <setting name="SignerSubjectName" serializeAs="String">
                <value>UXSigner</value>
            </setting>
            <setting name="SignerCspName" serializeAs="String">
                <value />
            </setting>
            <setting name="SignerKeyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UploadInvoiceFolder" serializeAs="String">
                <value>Invoice</value>
            </setting>
            <setting name="UploadInvoiceCancellationFolder" serializeAs="String">
                <value>CancelInvoice</value>
            </setting>
            <setting name="AutoWelfareInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="WelfareInfoFolder" serializeAs="String">
                <value>SWA</value>
            </setting>
            <setting name="IsAutoWelfare" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputEncoding" serializeAs="String">
                <value>utf-8</value>
            </setting>
            <setting name="DownloadDataFolder" serializeAs="String">
                <value>傳送大平台資料</value>
            </setting>
            <setting name="IsAutoInvService" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoInvServiceInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UploadAllowanceFolder" serializeAs="String">
                <value>Allowance</value>
            </setting>
            <setting name="UploadAllowanceCancellationFolder" serializeAs="String">
                <value>CancelAllowance</value>
            </setting>
            <setting name="DownloadInvoiceFolder" serializeAs="String">
                <value>傳送大平台資料\發票</value>
            </setting>
            <setting name="DownloadInvoiceCancellationFolder" serializeAs="String">
                <value>傳送大平台資料\作廢發票</value>
            </setting>
            <setting name="DownloadAllowanceFolder" serializeAs="String">
                <value>傳送大平台資料\折讓</value>
            </setting>
            <setting name="DownloadAllowanceCancellationFolder" serializeAs="String">
                <value>傳送大平台資料\作廢折讓</value>
            </setting>
            <setting name="DownloadWinningFolder" serializeAs="String">
                <value>BonusInvoice</value>
            </setting>
            <setting name="OutputEncodingWithoutBOM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadDataInAbsolutePath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppTitle" serializeAs="String">
                <value>Electronic Invoice Transmission Service-Store Client</value>
            </setting>
            <setting name="UploadCsvInvoiceFolder" serializeAs="String">
                <value>Invoice_csv</value>
            </setting>
            <setting name="UploadCsvInvoiceCancellationFolder" serializeAs="String">
                <value>CancelInvoice_csv</value>
            </setting>
            <setting name="DownloadInvoiceMapping" serializeAs="String">
                <value>InvoiceMap</value>
            </setting>
            <setting name="CsvEncoding" serializeAs="String">
                <value>Big5</value>
            </setting>
            <setting name="RootCA" serializeAs="String">
                <value>UXB2B Certificate Center.cer</value>
            </setting>
            <setting name="UploadBranchTrackFolder" serializeAs="String">
                <value>InvoiceNoAssignment</value>
            </setting>
            <setting name="UploadSellerInvoiceFolder" serializeAs="String">
                <value>SellerInvoice</value>
            </setting>
            <setting name="UploadPreInvoiceFolder" serializeAs="String">
                <value>PreInvoice</value>
            </setting>
            <setting name="UploadAttachmentFolder" serializeAs="String">
                <value>Attachment</value>
            </setting>
            <setting name="DownloadSaleInvoiceFolder" serializeAs="String">
                <value>InvoicePDF</value>
            </setting>
            <setting name="DownloadInvoiceMailTracking" serializeAs="String">
                <value>InvoiceMailTracking</value>
            </setting>
            <setting name="DownloadInvoiceReturnedMail" serializeAs="String">
                <value>ReturnedMail</value>
            </setting>
            <setting name="SellerReceiptNo" serializeAs="String">
                <value />
            </setting>
            <setting name="InvoiceTxnPath" serializeAs="String">
                <value>C:\UXB2B_EIVO</value>
            </setting>
            <setting name="MainTabs" serializeAs="String">
                <value>
                    InvoiceClient.MainContent.SystemConfigTab, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
                </value>
            </setting>
            <setting name="UploadInvoiceEnterprise" serializeAs="String">
                <value>Enterprise</value>
            </setting>
            <setting name="TrackCodeFolder" serializeAs="String">
                <value>InvoiceTrackCode</value>
            </setting>
            <setting name="VacantInvoiceNoFolder" serializeAs="String">
                <value>VacantInvoiceNo</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>EIVO03ClientService(Product)</value>
            </setting>
            <setting name="ResponseUpload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PGPWaitingForExitInMilliSeconds" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="UploadCsvBuyerFolder" serializeAs="String">
                <value>B2B相對營業人_csv</value>
            </setting>
            <setting name="UploadAttachment" serializeAs="String">
                <value>https://eceivo.uxifs.com/eivo03/Published/UploadAttachmentForGoogle.ashx</value>
            </setting>
            <setting name="ActivationKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UploadCsvAllowanceFolder" serializeAs="String">
                <value>Allowance_csv</value>
            </setting>
            <setting name="UploadCsvAllowanceCancellationFolder" serializeAs="String">
                <value>CancelAllowance_csv</value>
            </setting>
            <setting name="AutoRetry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WS_TimeoutInMilliSeconds" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="EnableFailedUploadAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadCustomerCsvInvoiceFolder" serializeAs="String">
                <value>InvoiceFull_csv</value>
            </setting>
            <setting name="B2BUploadInvoiceFolder" serializeAs="String">
                <value>B2BSellerInvoice</value>
            </setting>
            <setting name="B2BUploadBuyerInvoiceFolder" serializeAs="String">
                <value>BuyerInvoice</value>
            </setting>
            <setting name="B2BUploadAllowanceFolder" serializeAs="String">
                <value>B2BAllowance</value>
            </setting>
            <setting name="B2BUploadInvoiceCancellationFolder" serializeAs="String">
                <value>B2BCancelInvoice</value>
            </setting>
            <setting name="B2BUploadAllowanceCancellationFolder" serializeAs="String">
                <value>B2BCancelAllowance</value>
            </setting>
            <setting name="B2BCounterpartBusinessFolder" serializeAs="String">
                <value>B2B相對營業人</value>
            </setting>
            <setting name="B2BUploadReceiptFolder" serializeAs="String">
                <value>Receipt</value>
            </setting>
            <setting name="B2BUploadReceiptCancellationFolder" serializeAs="String">
                <value>CancelReceipt</value>
            </setting>
            <setting name="EnableB2BAutoReceiving" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcessCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProcessArrayCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProcessArrayIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RetryOnConnectException" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileWatcherProcessCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RetryCancellationWhenInvoiceNotFound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayName" serializeAs="String">
                <value>電子發票用戶端傳輸服務(EIVO03)</value>
            </setting>
            <setting name="InvoicePDFZipPrefix" serializeAs="String">
                <value>taiwan_uxb2b_scanned_gui_pdf_</value>
            </setting>
            <setting name="ZipInvoice" serializeAs="String">
                <value>ZipInvoice</value>
            </setting>
            <setting name="PDFGeneratorOutput" serializeAs="String">
                <value>E:\UXB2B_EIVO_GOOGLE\ZipInvoice</value>
            </setting>
            <setting name="ClearTxnPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerInspector" serializeAs="String">
                <value>
                  InvoiceClient.Agent.VacantInvoiceNoInspector, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
                  InvoiceClient.Agent.InvoiceMappingInspector, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
                  InvoiceClient.Agent.B2BInvoiceInspector, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
                  InvoiceClient.Agent.InvoiceMailTrackingInspector, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
                  InvoiceClient.Agent.InvoicePDFInspector, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
                  InvoiceClient.Agent.AllowancePDFGenerator, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
                  InvoiceClient.Agent.InvoiceServerInspector, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
                </value>
            </setting>
            <setting name="PackerCycleDelayInSeconds" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ConvertDataToAllowance" serializeAs="String">
                <value>http://localhost:2598/DataView/ConvertDataToAllowance</value>
            </setting>
            <setting name="MaxFileCountInPDFZip" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="WaitForInvoicePDFInSeconds" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MaxWaitingTurns" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AppCulture" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="InvoiceClient_WS_Invoice_eInvoiceService" serializeAs="String">
                <value>http://localhost:2598/Published/eInvoiceService.asmx</value>
            </setting>
          <setting name="TransferManager" serializeAs="String">
            <value>
              InvoiceClient.TransferManagement.CsvInvoiceTransferManagerV2, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
            </value>
            <!-- MIG格式 -->
            <!--<value>
                InvoiceClient.TransferManagement.MIGInvoiceTransferManager, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
              </value>-->
            <!-- CSV格式 -->
            <!--<value>
                InvoiceClient.TransferManagement.CsvInvoiceTransferManagerV2, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
              </value>-->
            <!-- XML格式 -->
            <!--<value>
                InvoiceClient.TransferManagement.InvoiceTransferManagerForAgent, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
              </value>-->
            <!-- B2B相對營業人CSV格式 -->
            <!--<value>
                InvoiceClient.TransferManagement.InvoiceBusinessTransferManager, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
              </value>-->
            <!-- 營業人配號區段 -->
            <!--<value>
                InvoiceClient.TransferManagement.BranchTrackTransferManager, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
              </value>-->
            <!-- B2B XML格式 -->
            <!--<value>
                InvoiceClient.TransferManagement.B2BInvoiceTransferManager, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
              </value>-->
            <!-- EXCEL格式 -->
            <!--<value>
              InvoiceClient.TransferManagement.XlsxInvoiceTransferManager, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
            </value>-->          
          </setting>
          <setting name="WatcherProcessDelayInSeconds" serializeAs="String">
                <value>5</value>
            </setting>
        </InvoiceClient.Properties.Settings>
    </applicationSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />
      </dependentAssembly>-->
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.8.5.0" newVersion="5.8.5.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
