@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using Model.Locale
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Security.MembershipManagement
@using Business.Helper
@using eIVOGo.Controllers

@{
    Layout = "~/Views/Template/MvcMainPage.cshtml";

    ModelSource<InvoiceItem> models;
    ModelStateDictionary _modelState;
    InvoiceViewModel _viewModel;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    _viewModel = (InvoiceViewModel)ViewBag.ViewModel;

    UserProfileMember _profile = Context.GetUser();
    ViewBag.ActionName = "首頁 > 上傳開立資料";
    var _orgItem = models.GetTable<Organization>().Where(c => c.CompanyID == _profile.CurrentUserRole.OrganizationCategory.CompanyID).FirstOrDefault();
}

@section headContent {

}

@{
    if (!_viewModel.InvoiceProcessType.HasValue)
    {
        _viewModel.InvoiceProcessType = Naming.InvoiceProcessType.C0401;
    }
}

@{ Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "傳送Excel資料");}

<form role="form" method="post">
    @{ Html.RenderPartial("~/Views/InvoiceBusiness/Module/InvoiceProcessTypeDirection.cshtml");}

    <div class="border_gray">
        <!--表格 開始-->
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
            <tr>
                <th>
                    請選擇營業人
                </th>
                <td class="tdleft">
                    @{
                        Html.RenderAction("SellerSelector", "DataFlow", new SellerSelectorViewModel { FieldName = "KeyID", Encrypt = true });
                    }
                </td>
            </tr>
            <tr>
                <th colspan="2" class="Head_style_a">
                    各項資料
                </th>
            </tr>
            @{ 
                Html.RenderPartial("~/Views/InvoiceBusiness/Module/UploadInvoice.cshtml",
                    new InvoiceRequestViewModel
                    {
                        Comment = "【配號通用格式】",
                        ProcessType = Naming.InvoiceProcessType.C0401_Xlsx,
                    });
                if (_profile.IsSystemAdmin() || _orgItem?.OrganizationStatus?.InvoiceClientDefaultProcessType == (int)Naming.InvoiceProcessType.C0401_Xlsx_Allocation_ByVAC)
                {
                    Html.RenderPartial("~/Views/InvoiceBusiness/Module/UploadInvoice.cshtml",
                        new InvoiceRequestViewModel
                        {
                            Comment = "【加值中心配號】",
                            ProcessType = Naming.InvoiceProcessType.C0401_Xlsx_Allocation_ByVAC,
                        });
                }
                if (_profile.IsSystemAdmin() || _orgItem?.OrganizationStatus?.InvoiceClientDefaultProcessType == (int)Naming.InvoiceProcessType.C0401_Xlsx_Allocation_ByIssuer)
                {
                    Html.RenderPartial("~/Views/InvoiceBusiness/Module/UploadInvoice.cshtml",
                        new InvoiceRequestViewModel
                        {
                            Comment = "【開立人配號】",
                            ProcessType = Naming.InvoiceProcessType.C0401_Xlsx_Allocation_ByIssuer,
                        });
                }
                if (_profile.IsSystemAdmin() || _orgItem?.OrganizationStatus?.InvoiceClientDefaultProcessType == (int)Naming.InvoiceProcessType.C0401_Xlsx_CBE)
                {

                    Html.RenderPartial("~/Views/InvoiceBusiness/Module/UploadInvoice.cshtml",
                        new InvoiceRequestViewModel
                        {
                            Comment = "【境外電商專用】",
                            ProcessType = Naming.InvoiceProcessType.C0401_Xlsx_CBE,
                        });
                }
                Html.RenderPartial("~/Views/InvoiceBusiness/Module/UploadVoidInvoice.cshtml");
                Html.RenderPartial("~/Views/InvoiceBusiness/Module/UploadAllowance.cshtml");
                Html.RenderPartial("~/Views/InvoiceBusiness/Module/UploadVoidAllowance.cshtml");
            }
        </table>
        <!--表格 結束-->
    </div>

</form>



