
@using System.IO
@using System.Linq.Expressions


@using eIVOGo.Helper
@using Model.Locale
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using eIVOGo.Controllers
@{

    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    OrganizationViewModel _viewModel;
    Organization _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _viewModel = (OrganizationViewModel)ViewBag.ViewModel;
    _model = (Organization)this.Model;
}

@{ Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "編輯店家資料");}

<form id="editItem">
    @{ Html.RenderPartial("~/Views/Organization/Module/ItemForm.cshtml", _model);}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <!--表格 開始-->
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <td class="Bargain_btn" align="center">
                            <button type="button" onclick="$global.commitOrganization();" name="UpdateButton" class="btn">確定</button>
                            &nbsp;
                            <input name="Reset" type="reset" class="btn" value="重填" />
                            @*<asp:Button ID="Config_btn" runat="server" CausesValidation="True" CssClass="btn"
                                Text="下載設定檔" OnClick="Config_btn_Click" />*@
                            @*@if (_viewModel.CompanyID.HasValue)
                                    {
                                <input type="button" class="btn" name="btnDownloadConfig" value="下載設定檔" />
                                }*@
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>
<script>
    $(function () {
        $global.commitOrganization = function () {
            $form = $('#editItem');
            showLoading();
            $.post('@(Url.Action("CommitItem","Organization",new { _viewModel.KeyID }))', $form.serializeObject(), function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    if (data.result) {
                        if (confirm('資料已儲存，是否關閉？')) {
                            $global.removeTab('editOrganization');
                        }
                    } else {
                        alert(data.message);
                    }
                } else {
                    $(data).appendTo($('body'));
                }
            });
        };
    });
</script>

