<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="appParams" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="cryptoConfig" type="Model.UseCrypto.CryptoConfig,Modal" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="eNego.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="DocumentService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="CreatePDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Uxnet.Com.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<!--  <add name="masterDB" connectionString="Password=cdscds;Persist Security Info=True;User ID=cds;Initial Catalog=eNego;Data Source=ux-vmxp\sqlexpress"
   providerName="System.Data.SqlClient" />-->
		<!--<add name="masterDB" connectionString="Data Source=CM-XP\sqlexpress;AttachDbFilename=|DataDirectory|\eNego.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
		<add name="masterDB" connectionString="Data Source=CM-XP\sqlexpress;Initial Catalog=eNego;Persist Security Info=True;User ID=cds;Password=cdscds" providerName="System.Data.SqlClient" />
		<add name="Model.Properties.Settings.eNegoConnectionString" connectionString="Data Source=CM-XP\sqlexpress;Initial Catalog=eNego;Persist Security Info=True;User ID=cds;Password=cdscds" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!--	定義網頁Exception Handler導向的網頁 -->
		<add key="errorPage" value="/errorPage.htm" />
		<!--	是否使用Exception Handler,在開發階段設成false,Exception會直接顯示在網頁上,
				部署完系統後,則會由Exception Handler來處理.	 -->
		<add key="useExceptionHandler" value="true" />
		<add key="useCA" value="false" />
		<add key="alertPage" value="~/sam/alert_msg.aspx" />
		<add key="pageSize" value="10" />
	</appSettings>
	<cryptoConfig>
		<pkcs7>
			<crlUrl>http://onsitecrl.verisign.com/universalexchangeuniversalexchangeCDS/LatestCRL.crl</crlUrl>
			<crlCache>LatestCRL.crl</crlCache>
			<logPath>D:\Project\AppDev\OpenSite\web\logs</logPath>
		</pkcs7>
	</cryptoConfig>
	<appParams></appParams>
	<system.web>
		<trust level="Full" originUrl="" />
		<!--  動態偵錯編譯
          設定 compilation debug="true" 以啟用 ASPX 偵錯。否則，將這個值設定為
          false 將可增進這個應用程式的 Runtime 效能。 
          設定 compilation debug="true" 會將偵錯符號 (.pdb 資訊) 插入編譯的網頁。
          這樣將會建立較大的檔案並使執行速度變慢。
          一般只在偵錯時將這個值設為 true，其他情況都設為 false。
          如需詳細資訊，請參閱
          偵錯 ASP.NET 檔案相關的文件。
    -->
		<compilation defaultLanguage="c#" debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
		</compilation>
		<!--  自訂錯誤訊息
          設定 customErrors mode="On" 或 "RemoteOnly" 來啟用自訂錯誤訊息，"Off" 則為停用。 
          請對每個您要處理的錯誤，加入相對應的 <error> 標記。

          "On" 永遠顯示自訂 (易讀) 訊息。
          "Off" 永遠顯示詳細的 ASP.NET 錯誤資訊。
          "RemoteOnly" 僅顯示自訂 (易讀) 訊息給不在區域 Web 伺服器上的使用者。
           針對安全性目的，建議您使用這項設定， 
           這樣子您就不會將應用程式的詳細資訊顯示給遠端用戶端。
    -->
		<customErrors mode="RemoteOnly" />
		<!--  驗證 
          這個區段將設定應用程式的驗證原則。可能的模式包括 "Windows"、
          "Forms"、"Passport" 與 "None"

          "None" 沒有執行任何的驗證。 
          "Windows" IIS 會根據其針對應用程式所做的設定來執行驗證 (基本、摘要式或整合式 Windows 驗證) 
           IIS 的匿名存取功能必須停用。 
          "Forms" 提供自訂表單 (網頁) 讓使用者輸入他們的憑證， 
           然後在應用程式中驗證其憑證。使用者憑證 Token 儲存在 Cookie 中。
          "Passport" 驗證是經由 Microsoft 所提供的中央驗證服務而執行，
           此中央驗證服務可替成員網站提供單一登入與核心設定檔服務。
    -->
		<authentication mode="Forms">
			<forms name="eNegoLogin" loginUrl="~/index.aspx" />
		</authentication>
		<!--  授權 
          這個區段將設定應用程式的授權原則。您可以允許或拒絕不同使用者或角色存取應用程式資源。
          萬用字元: "*" 代表所有的人、"?" 代表匿名 (未驗證的) 使用者。
    -->
		<authorization>
			<allow users="*" />
			<!-- 允許所有使用者 -->
			<!--  <allow     users="[使用逗號分隔的使用者清單]"
                             roles="[使用逗號分隔的角色清單]"/>
                  <deny      users="[使用逗號分隔的使用者清單]"
                             roles="[使用逗號分隔的角色清單]"/>
            -->
		</authorization>
		<!--  應用程式層級追蹤記錄
          應用程式層級追蹤啟用應用程式中每一頁面的追蹤記錄檔輸出。
          設定 trace enabled="true" 將啟用應用程式追蹤記錄。如果 pageOutput="true"，追蹤資訊將顯示
          在每一頁面的下方。此外，您也可以從 Web 應用程式的根目錄透過瀏覽 "trace.axd" 頁面的方式來檢視
          應用程式的追蹤記錄檔。
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<!--  工作階段狀態設定
          根據預設，ASP.NET 會使用 Cookie 來識別哪些要求是屬於某個特定工作階段。
          如果無法使用 Cookie，您也可以將工作階段識別項加入到 URL 來追蹤工作階段。
          若要停用 Cookie，請設定 sessionState cookieless="true"。
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
		<!--  全球化設定
          此區段用來設定應用程式全球化選項。
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<httpHandlers>
			<add verb="*" path="UploadSystemInfo.ashx" type="eNego.service.UploadSystemInfo" />
			<add verb="*" path="GetSystemInfo.ashx" type="eNego.service.GetSystemInfo" />
			<add verb="*" path="GetCP1Layout.ashx" type="eNego.service.GetCP1Layout" />
			<add verb="*" path="ShowSignature.ashx" type="Model.Service.ShowSignature,Model" />
			<add verb="*" path="ShowCacheResource.ashx" type="eNego.service.ShowCacheResource" />
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpHandlers>
		<xhtmlConformance mode="Legacy" />
		<!--<pages styleSheetTheme="default" theme="default">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>-->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<defaultDocument>
			<files>
				<remove value="default.aspx" />
				<remove value="iisstart.htm" />
				<remove value="index.html" />
				<remove value="index.htm" />
				<remove value="Default.asp" />
				<remove value="Default.htm" />
				<add value="index.aspx" />
			</files>
		</defaultDocument>
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</handlers>
	</system.webServer>
	<!--<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_INegoTransactionService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="4194304" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="4194304" maxArrayLength="4194304" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
						<message clientCredentialType="None" negotiateServiceCredential="true"
                            algorithmSuite="Default" establishSecurityContext="true" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://cds-t.uxb2b.com/CDSAR/service/wcf/NegoTransactionService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INegoTransactionService"
                contract="INegoTransactionService" name="WSHttpBinding_INegoTransactionService">
				<identity>
					<dns value="cds-t.uxb2b.com" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>-->
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_INegoTransactionService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="4194304" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="4194304" maxArrayLength="4194304" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://cds-t.uxb2b.com/CDSAR/service/wcf/NegoTransactionService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INegoTransactionService" contract="WcfNegoTransactionService.INegoTransactionService" name="WSHttpBinding_INegoTransactionService">
				<identity>
					<dns value="cds-t.uxb2b.com" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
	<applicationSettings>
		<eNego.Properties.Settings>
   <setting name="InitialPrinting" serializeAs="String">
    <value>~/Published/initialize_printing_document.aspx</value>
   </setting>
   <setting name="ImageHome" serializeAs="String">
    <value>~/images/home_cds_efactor.jpg</value>
   </setting>
   <setting name="UseCA" serializeAs="String">
    <value>remote</value>
   </setting>
   <setting name="CAControl" serializeAs="String">
    <value>~/module/common/SignContextTWCA.ascx</value>
   </setting>
   <setting name="IsCmsEnveloped" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoAddWorkItem" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseBackgroundSeal" serializeAs="String">
    <value>False</value>
   </setting>
  </eNego.Properties.Settings>
		<Model.Properties.Settings>
			<setting name="Model_WS_Factoring_FactoringClient" serializeAs="String">
				<value>http://hinet01:8880/CDSAR/service/ws/FactoringClient.asmx</value>
			</setting>
			<setting name="SqlLog" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="localUrl" serializeAs="String">
				<value>http://localhost:8880</value>
			</setting>
			<setting name="serviceName" serializeAs="String">
				<value>eNego系統</value>
			</setting>
			<setting name="mhtmlGeneratorUrl" serializeAs="String">
				<value>~/published/mhtml_generator_page.aspx</value>
			</setting>
			<setting name="printGeneratorUrl" serializeAs="String">
				<value>~/published/print_generator_page.aspx</value>
			</setting>
			<setting name="mailGeneratorUrl" serializeAs="String">
				<value>~/published/mail_message_generator_page.aspx</value>
			</setting>
			<setting name="contentGeneratorUrl" serializeAs="String">
				<value>~/published/content_generator_page.aspx</value>
			</setting>
			<setting name="sysAdmin" serializeAs="String">
				<value>cdsadmin</value>
			</setting>
			<setting name="convertCode" serializeAs="String">
				<value>[碁恒裏粧嫺銹墻]</value>
			</setting>
			<setting name="logPath" serializeAs="String">
				<value>~/logs</value>
			</setting>
			<setting name="dataStorePath" serializeAs="String">
				<value>~/webData</value>
			</setting>
			<setting name="xsltInvoice" serializeAs="String">
				<value>resource/invoice.xslt</value>
			</setting>
			<setting name="xsltLegacyInvoice" serializeAs="String">
				<value>resource/invoice-legacy.xslt</value>
			</setting>
			<setting name="queryDraftXslt" serializeAs="String">
				<value>resource/QueryDraft.xslt</value>
			</setting>
		</Model.Properties.Settings>
		<Uxnet.Com.Properties.Settings>
			<setting name="XpsPrinterName" serializeAs="String">
				<value>Microsoft XPS Document Writer</value>
			</setting>
			<setting name="WndPrnTitle" serializeAs="String">
				<value>列印</value>
			</setting>
			<setting name="BtnPrnTitle" serializeAs="String">
				<value>列印(&amp;P)</value>
			</setting>
			<setting name="WndSaveAsTitle" serializeAs="String">
				<value>另存檔案為</value>
			</setting>
			<setting name="BtnSaveTitle" serializeAs="String">
				<value>儲存(&amp;S)</value>
			</setting>
			<setting name="PdfOutput" serializeAs="String">
				<value>PdfPrinter.pdf</value>
			</setting>
			<setting name="PdfPrinterName" serializeAs="String">
				<value>Bullzip PDF Printer</value>
			</setting>
			<setting name="SqlLog" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Uxnet_Com_WS_DocumentService_DocumentCreator" serializeAs="String">
				<value>http://localhost:8800/DocumentService/DocumentCreator.asmx</value>
			</setting>
			<setting name="UseMessageCenter" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="MessageUploadUrl" serializeAs="String">
				<value>http://cdslc.uxcds.com/CDSLCLive/published/UploadFile.ashx</value>
			</setting>
			<setting name="Uxnet_Com_WS_MessageService_SendMessage" serializeAs="String">
				<value>http://cdslc.uxcds.com/CDSLCLive/published/SendMessage.asmx</value>
			</setting>
		</Uxnet.Com.Properties.Settings>
		<DocumentService.Properties.Settings>
			<setting name="CreatingPDFTimeOut" serializeAs="String">
				<value>30000</value>
			</setting>
		</DocumentService.Properties.Settings>
		<CreatePDF.Properties.Settings>
			<setting name="MaxWaitingInterval" serializeAs="String">
				<value>30000</value>
			</setting>
			<setting name="PDFOutput" serializeAs="String">
				<value>C:\Users\Administrator\AppData\Local\Temp\PdfPrinter.pdf</value>
			</setting>
			<setting name="PDFPrinterName" serializeAs="String">
				<value>Bullzip PDF Printer</value>
			</setting>
		</CreatePDF.Properties.Settings>
	</applicationSettings>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>