
@using System.IO
@using System.Linq.Expressions


@using eIVOGo.Helper
@using Model.Locale
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using eIVOGo.Controllers
@{

    ModelStateDictionary _modelState;
    int _startYear = 2012;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
}
<select name="year">
    @for (int y = DateTime.Today.Year; y >= _startYear; y--)
    {
        <option value="@(y)">@(y)</option>
    }
</select>




