@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@{

    ModelSource<InvoiceItem> models;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;

    _viewModel.UrlAction = Url.Action("Inquire2023", "InvoiceProcess");

}

@{
    Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "發票資料查詢／列印／匯出");
}
<div id="queryArea" class="border_gray">
    <!--表格 開始-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th colspan="2" class="Head_style_a">
                查詢條件
                <input type="hidden" name="ResultAction" value="@(_viewModel.ResultAction ?? "Process")" />
            </th>
        </tr>
        @{
            Html.RenderPartial("~/Views/InvoiceProcess/Module/QueryDirective.cshtml", 0);
            ViewBag.QueryAll = true;
            ((CommonInquiry<InvoiceItem>)this.Model).Render(Html);
        }

        @{
            Html.RenderPartial("~/Views/InquireInvoice/ByAttachment.cshtml");
            Html.RenderPartial("~/Views/InquireInvoice/ByWinningNumber.cshtml");
            Html.RenderPartial("~/Views/InquireInvoice/ByCancellation.cshtml");
            Html.RenderPartial("~/Views/InquireInvoice/ByPrintMark.cshtml");
            Html.RenderPartial("~/Views/InquireInvoice/ByPrintStatus.cshtml");
            Html.RenderPartial("~/Views/InquireInvoice/ByCarrierType.cshtml");
            Html.RenderPartial("~/Views/InquireInvoice/ByCarrierNo.cshtml");
        }

        <tr>
            <th>
                附加查詢顯示
            </th>
            <td class="tdleft">
                <input name="CurrencySummary" value="True" type="checkbox" /> 顯示幣別統計，
                <input name="MIG" value="True" type="checkbox" /> 顯示大平台處理狀態(C:完成,E:失敗,P:處理中)
            </td>
        </tr>
    </table>
    <!--表格 結束-->
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tbody>
            <tr>
                <td class="Bargain_btn">
                    <button type="button" onclick="$inquiryAgent.initQuery = true; $inquiryAgent.inquire();">查詢</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!--表格 開始-->
    @{
        Html.RenderPartial("~/Views/InvoiceProcess/ScriptHelper/Common.cshtml");
    }
</div>
<!--按鈕-->





