
@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@using res = eIVOGo.Resource.Views.InvoiceProcess.Module.QueryResult

@{
    ModelSource<InvoiceItem> models;

    IQueryable<InvoiceItem> _model;

    InquireInvoiceViewModel _viewModel;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;

    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;

    _model = (IQueryable<InvoiceItem>)this.Model;

    var recordCount = _model.Count();
}

@{ Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.ascx", res.查詢結果);}


<div class="border_gray" style="overflow-x: auto;">

    @if (recordCount > 0)
    {
        Html.RenderPartial("~/Views/InvoiceProcess/Module/QueryPaging.cshtml", _model);


        if (ViewBag.ResultAction != null)
        {
            Html.RenderPartial((String)ViewBag.ResultAction);
        }
    }
    else
    {
        <font color="red">@res.查無資料__</font>
    }

    @*@{ var cmd = models.GetCommand(_model);}

        @(cmd.CommandText)*@
</div>



