@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using eIVOGo.Module.Common
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@{
    ModelSource<InvoiceItem> models;
    Organization _model;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _model = (Organization)this.Model;

}
<p>
    此信件為系統發出信件，請勿直接回覆。
</p>
<p>
    如有疑問，請聯絡｢荷蘭商聯邦快遞國際股份有限公司台灣分公司｣帳單調整部：
</p>
<p>
    電子郵件信箱 : fsctw@fedex.com
</p>

