@model eIVOGo.Models.InvoiceNumberApplyResponse

@{
    ViewBag.Title = "Message";
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<h2>Message</h2>

<div>
    <p>@Model.DisplayMessage</p>
    <div id="timeBox"></div>
</div>


<script type="text/javascript">
    var count = 7;
    function countDown() {
        // 將秒數寫在指定元素中
        document.getElementById("timeBox").innerHTML = count + "秒後跳轉入口頁面";
        // 每次執行就減1
        count -= 1;
        // 當 count = 0 時跳轉頁面
        if (count == 0) {
            window.location = '@Model.RedirectUrl';
        }
        // 設定每秒執行1次
        setTimeout("countDown()", 1000);
    }
    // 執行 countDown
    countDown();

</script>

