@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using Model.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    GenericManager<EIVOEntityDataContext> models;

    models = ViewContext.Controller.DataSource();
    _modelState = (ModelStateDictionary)ViewBag.ModelState;

    QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;
    _viewModel.UrlAction = Url.Action("Query", "InvoiceNumberApply");

    ViewBag.ActionName = "首頁 > 系統管理維護";

}
<!--交易畫面標題-->
@{
    Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "電子發票號申請");
}

<!--路徑名稱-->
<div class="border_gray" id="queryArea">
    <!--表格 開始-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th nowrap="nowrap" width="120">
                統一編號
            </th>
            <td class="tdleft">
                <input name="BusinessId" type="text" value="" class="form-control" />
            </td>
        </tr>
    </table>
    <!--表格 結束-->
    <!--按鈕-->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="queryAction">
        <tr>
            <td class="Bargain_btn">
                <input type="button" value="查詢" name="btnQuery" class="btn" onclick="$inquiryAgent.initQuery = true; $inquiryAgent.inquire();" />
            </td>
        </tr>
    </table>
    <script>

    </script>

</div>

