@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@{
    IEnumerable<String> _model = this.Model as IEnumerable<String>;
}

<table class="table table-small-font table-bordered table-striped table01 companyList">
    <thead>
        <tr>
            <th>統一編號</th>
            <th>最新填表日</th>
            <th>歸檔</th>
            <th>轉營業人檔</th>
            <th>下載Word</th>
            <!--
            <th>JSON檔修改</th>
            -->
        </tr>
    </thead>
    <tbody>
        @{
            Html.RenderPartial("~/Views/InvoiceNumberApply/QueryItemList2024.cshtml");
        }
    </tbody>
</table>

<script>
    $inquiryAgent.doPage = function (data) {
        $('table.companyList tbody')
            .empty()
            .append(data);
    };
</script>

