
@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using eIVOGo.Controllers
@using Business.Helper
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Utility
@using Uxnet.Web.WebUI
@{

    ModelSource<InvoiceItem> models;
    IQueryable<Organization> _model;
    UserProfileMember _profile;


    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _model = (IQueryable<Organization>)this.Model;
    _profile = Context.GetUser();
}
@if (_profile.CurrentUserRole.OrganizationCategory.CategoryID == (int)Naming.CategoryID.COMP_SYS)
{
    <tr>
        <th>
            代理業者統編
        </th>
        <td class="tdleft">
            <select name="AgentID">
                <option value="">全部</option>
                @foreach (var a in _model.OrderBy(o=>o.ReceiptNo))
                {
                    <option value="@(a.CompanyID)">@($"({a.ReceiptNo}) {a.CompanyName}")</option>
                }
            </select>
            @if (Request["AgentID"] != null)
            {
                <script>
                    $(function () {
                        $('select[name="AgentID"]').val('@(Request["AgentID"])');
                    });
                </script>
            }
        </td>
    </tr>
}





