@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using Model.Helper
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@{
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
<tr>
    <th>
        個人識別碼
    </th>
    <td class="tdleft">
        <input name="BuyerName" type="text" value="@(_viewModel?.BuyerName)" class="form-control"/>
    </td>
</tr>


