@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@{
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
<tr>
    <th>
        單據狀態
    </th>
    <td class="tdleft">
        <select name="Cancelled" class="form-control">
            <option value="False">未作廢</option>
            <option value="True">已作廢</option>
            <option value="">全部</option>
        </select>
        @if (_viewModel.Cancelled.HasValue)
        {
        <script>
            $(function () {
                $('select[name="Cancelled"]').val('@(_viewModel.Cancelled)');
            });
        </script>
        }
    </td>
</tr>
