@using res = eIVOGo.Resource.Views.InquireInvoice.ByCategory

<tr>
    <th>
        @res.單據類型
    </th>
    <td class="tdleft">
        <select name="Category">
            <option value="10">@res.發票</option>
            <option value="11">@res.折讓證明</option>
        </select>
        <script>
            $(function () {
                $('select[name="Category"]').val('@(Request["Category"] ?? "0")');
            });
        </script>
    </td>
</tr>