@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@{
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
<tr>
    <th>
        發票類別
    </th>
    <td class="tdleft">
        <select name="ProcessType" class="form-control">
            @if (ViewBag.QueryAll == true)
            {
                <option value="">查詢全部</option>
            }
            <option value="@((int)Naming.InvoiceProcessType.C0401)">查詢QR Code證明聯類型</option>
            <option value="@((int)Naming.InvoiceProcessType.A0401)">查詢營業人交易類型</option>
        </select>
        @if (_viewModel!=null && _viewModel.ProcessType.HasValue)
        {
            <script>
            $(function () {
                $('select[name="ProcessType"]').val('@((int?)_viewModel.ProcessType)');
            });
            </script>
        }
    </td>
</tr>
