@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using Model.Helper
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@{
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
<tr>
    <th>
        日期區間
    </th>
    <td class="tdleft">
        自&nbsp;<input name="DateFrom" class="form_date form-control" type="text" size="10" readonly="readonly" value="@($"{_viewModel?.DateFrom:yyyy/MM/dd}")" />
        &nbsp;至&nbsp;
        <input name="DateTo" class="form_date form-control" type="text" size="10" readonly="readonly" value="@($"{_viewModel?.DateTo:yyyy/MM/dd}")"  />
    </td>
</tr>

