@using res = eIVOGo.Resource.Views.InquireInvoice.ByDonation

<tr>
    <th>
        @res.捐贈類別
    </th>
    <td class="tdleft">
        <input type="radio" name="donation" value="donated" />@res.捐贈統計表
        <input type="radio" name="donation" value="winning" />@res.捐贈中獎統計表
    </td>
</tr>
<script>
    $(function () {
        $('input[type="radio"][name="donation"][value="@(Request["donation"])"]').prop('checked', true);
    });
</script>