@using res = eIVOGo.Resource.Views.InquireInvoice.ByPeriod

<tr>
    <th width="20%">
        @res.期別
    </th>
    <td class="tdleft">
        @(this.Model != null ? Html.DropDownList("period", (IEnumerable<SelectListItem>)this.Model) : null)
        <script>
            $(function () {
                $('select[name="period"]').val('@(Request["period"])');
            });
        </script>
    </td>
</tr>