@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@{
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
<tr>
    <th>列印狀態</th>
    <td class="tdleft">
        <div class="input-group text-nowrap">
            <select name="Printed" class="form-control mr-4">
                <option value="">全部</option>
                <option value="False">未列印</option>
                <option value="True">已列印</option>
            </select>
            <input type="checkbox" name="HasAddr" value="True" />篩選有買受人地址
        </div>
    </td>
</tr>

