@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@{
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
    if (_viewModel == null)
    {
        ViewBag.ViewModel = _viewModel = new InquireInvoiceViewModel { };
        _viewModel.FieldName = ViewBag.FieldName ?? "Winning";
    }
}
<tr>
    <th>
        是否中獎
    </th>
    <td class="tdleft">
        <select class="form-control" name="Winning">
            @*@if (ViewBag.SelectorIndication != null)
            {
                <option value="@(ViewBag.Winning ?? "")">全部</option>
            }*@
            <option value="@(ViewBag.Winning ?? "")">全部</option>
            <option value="@(_viewModel.Winning ?? 1)">是</option>
        </select>
    </td>
</tr>
