
@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@{

    ModelSource<InvoiceItem> models;
    InquireInvoiceViewModel _viewModel;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;

}
<!--交易畫面標題-->
@{ Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "一般性發票查詢");}

<div class="border_gray">
    <!--表格 開始-->
    <table id="queryArea" width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th colspan="2" class="Head_style_a">
                查詢條件
            </th>
        </tr>
        @{ 
            Html.RenderPartial("~/Views/InquireInvoice/ByInvoiceNo.cshtml");
            Html.RenderPartial("~/Views/InquireInvoice/ByExactInvoiceDate.cshtml");
            Html.RenderPartial("~/Views/InquireInvoice/ByBuyerName.cshtml");
            Html.RenderPartial("~/Views/InquireInvoice/ByRandomNo.cshtml");
            Html.RenderPartial("~/Views/InquireInvoice/ByCarrierNo.cshtml");
            }

        <tr>
            <th>
                圖形驗證碼
            </th>
            <td class="tdleft">
                @{ 
                    Html.RenderPartial("~/Views/Shared/CaptchaImg.cshtml");
                }
            </td>
        </tr>
    </table>
    <!--表格 結束-->
</div>
<!--按鈕-->
<table border="0" cellspacing="0" cellpadding="0" width="100%" class="queryAction">
    <tbody>
        <tr>
            <td class="Bargain_btn">
                <button type="button" onclick="inquireInvoiceModal();">查詢</button>
            </td>
        </tr>
    </tbody>
</table>
<!--表格 開始-->
@{ Html.RenderPartial("~/Views/InvoiceProcess/ScriptHelper/Common.cshtml");}
<script>
    function inquireInvoiceModal() {

        var $formData = $('input,select,textarea').serializeObject();

        clearErrors();
        showLoading();
        $.post('@Html.Raw(Url.Action("Inquire", "IndividualProcess"))', $formData, function (data) {
            if ($.isPlainObject(data)) {
                hideLoading();
                alert(data.message);
            } else {
                hideLoading();
                var $data = $(data);
                $('body').append($data);
            }
        });
    }

</script>
