
@using System.IO
@using System.Linq.Expressions


@using eIVOGo.Helper
@using Model.Locale
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Security.MembershipManagement
@using Business.Helper
@using Model.Helper
@using eIVOGo.Controllers
@{

    InvoiceViewModel _viewModel;

    _viewModel = (InvoiceViewModel)ViewBag.ViewModel;
    UserProfileMember _profile = Context.GetUser();
}

    <tr>
        <th>
            開立折讓證明
        </th>
        <td class="tdleft">
            <input type="button" name="btnAllowanceSample" value="下載範本" />&nbsp;&nbsp;
            <input type="button" name="btnImportAllowance" value="立即傳送" />
            <script>
                        $(function () {

                            $('input[name="btnAllowanceSample"]').on('click', function (event) {
                                $('').launchDownload('@Html.Raw(Url.Action("GetAllowanceRequestSample","InvoiceBusiness"))', {});
                            });

                            var $btn = $('input[name="btnImportAllowance"]');
                            var $file = $('<input name="theFile" type="file" style="display: none;" />');
                            $btn.before($file);

                            $btn.click(function () {
                                $file.val('');
                                $file.click();
                            });

                            $file.on('change', function (event) {
                                clearErrors();
                                var $formData = $('form').find('input,select,textArea').serializeObject();
                                uploadFile($file, $formData, '@Html.Raw($"/{eIVOGo.Properties.Settings.Default.TaskCenter}/InvoiceData/UploadAllowanceRequestXlsx?sender={_profile.UID}")',
                                    function (data) {
                                        $btn.before($file);
                                        if ($.isPlainObject(data)) {
                                            if (data.result) {
                                                alert('開立資料傳送完成，請至工作提示區檢視處理狀態。');
                                            } else {
                                                reportError(data);
                                            }
                                        }
                                    },
                                    function () {
                                        $btn.before($file);
                                    });
                            });
                        });
            </script>
        </td>
    </tr>

