
@using System.IO
@using System.Linq.Expressions


@using eIVOGo.Helper
@using Model.Locale
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using eIVOGo.Controllers
@{
    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
}

@*@foreach (var item in Enum.GetValues(typeof(CategoryDefinition.CategoryEnum)))
    {
        var t = (CategoryDefinition.CategoryEnum)item;
        <option value="@((int)t)">@(t)</option>
    }*@
<option value="15">發票開立營業人</option>
@*<option value="16">相對營業人</option>
<option value="17">GoogleTaiwan</option>*@
<option value="20">經銷商</option>
<option value="23">境外電商</option>


