
@using Model.DataEntity
@using Uxnet.Web.Module.Common
<a href='#' onclick='@{ # "javascript:showAllowanceModal(" + DataItem.DocID.ToString() + ");"}
'>@{ # DataItem.InvoiceAllowance.AllowanceNumber}
</a>
