@using Model.Models.ViewModel
@using Model.Locale
@using eIVOGo.Resource.Views.WinningNumber.Module

@{
    Layout = null;

    InquireNoIntervalViewModel _viewModel = (InquireNoIntervalViewModel)ViewBag.ViewModel;

    string[] enumList = Enum.GetNames(typeof(Naming.EditableWinningPrizeType));
    var _items = new Dictionary<string, string>();

    foreach (string item in enumList)
    {
        _items.Add(((int)Enum.Parse(typeof(Naming.EditableWinningPrizeType), item)).ToString(),item);
    }

    EnumSelectorViewModel enumSelectorViewModel = new EnumSelectorViewModel
    {
        FieldName = "Rank",
        OptionItems = _items
    };
}

<tr>
    <td>@(_viewModel.Year)</td>
    <td>@(String.Format("{0:00}-{1:00}{2}", _viewModel.PeriodNo * 2 - 1, _viewModel.PeriodNo * 2,AddItem.月))</td>
    <td>
        @{Html.RenderPartial("~/Views/Common/Module/EnumSelect.cshtml", enumSelectorViewModel);}
    </td>
    <td></td>
    <td>
        <input type="text" name="WinningNo" placeholder="@AddItem.請輸入中獎號碼" value="" data-role="add" />
    </td>
    <td>
        <a class="btn" onclick="uiWinningNo.commitItem(null,@(_viewModel.Year),@(_viewModel.PeriodNo));">@AddItem.新增中獎號碼</a>
    </td>
</tr>
