@using Model.DataEntity

@{
    Layout = null;

    IEnumerable<UniformInvoiceWinningNumber> _items=((IEnumerable<UniformInvoiceWinningNumber>)this.Model).OrderBy(w => w.Rank);;
}

    <table class="table01 itemList">
        <thead>
            <tr>
                <th style="min-width: 100px" aria-sort="other">發票年度</th>
                <th style="min-width: 100px" aria-sort="other">發票期別</th>
                <th style="min-width: 120px">獎別</th>
                <th style="min-width: 160px">中獎金額</th>
                <th style="min-width: 160px">中獎號碼</th>
                <th style="min-width: 150px" aria-sort="other">管理</th>
            </tr>
        </thead>
        <tbody>
            @{ int idx = 0;}
            @foreach (var item in _items)
            {
                idx++;
                Html.RenderPartial("~/Views/WinningNumber/Module/DataItem.cshtml", item);
            }
            @{ Html.RenderPartial("~/Views/WinningNumber/Module/AddItem.cshtml");}

        </tbody>
        <tfoot>
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
        </tfoot>
    </table>
