@using Model.DataEntity

@{
    Layout = null;

    IEnumerable<UniformInvoiceWinningNumber> _model = (IEnumerable<UniformInvoiceWinningNumber>)this.Model;    

    Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "查詢結果");
}

<div class="border_gray" style="overflow-x: auto; max-width: 1024px;">
    @{ var recordCount = _model.Count();}
    @if (recordCount > 0)
    {
            Html.RenderPartial("~/Views/WinningNumber/Module/ItemList.cshtml", _model);
            Html.RenderPartial("~/Views/WinningNumber/ResultAction/DoMatch.cshtml");

    }
    else
    {
        <font color="red">查無資料!!</font>
        Html.RenderPartial("~/Views/WinningNumber/Module/ItemList.cshtml", _model);

    }
</div>
