@using System.IO
@using System.Linq.Expressions
@using Newtonsoft.Json

<script>

    var $global = (function () {

        return {
            registerCloseEvent: function ($tab) {
                $tab.find(".closeTab").click(function () {

                    //there are multiple elements which has .closeTab icon so close the tab whose close icon is clicked
                    var tabContentId = $(this).parent().attr("href");
                    $(this).parent().parent().remove(); //remove li of tab
                    $('#masterTab a:last').tab('show'); // Select first tab
                    $(tabContentId).remove(); //remove respective tab content

                });
            },
            removeTab: function (tabId) {
                var $a = $('#masterTab a[href="#' + tabId + '"]');
                $a.parent().remove(); //remove li of tab
                $('#masterTab a:last').tab('show'); // Select first tab
                $('#' + tabId).remove(); //remove respective tab content
            },
            showTab: function (tabId) {
                $('#masterTab a[href="#' + tabId + '"]').tab('show');
            },
            createTab: function (tabId, tabText, tabContent, show) {

                this.removeTab(tabId);

                var newTab = $('<li role="presentation"></li>')
                    .append($('<a href="#masterHome" class="tab-link" role="tab" data-toggle="tab"></a>')
                        .attr('href', '#' + tabId).attr('aria-controls', tabId).text(tabText)
                        .append($('<button class="close closeTab"><i class="fa fa-times" aria-hidden="true"></i></button>')));
                newTab.appendTo($('#masterTab'));
                $('<div role="tabpanel" class="tab-pane"></div>').attr('id', tabId)
                    .append(tabContent).appendTo($('#masterTabContent'));
                this.registerCloseEvent(newTab);
                if (show)
                    this.showTab(tabId);
            },
        };
    })();

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };


</script>