<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PdfVerifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PdfVerifier.Properties.Settings>
            <setting name="watcherPath" serializeAs="String">
                <value>D:\RecUXB2B_EIVO\PDF\PdfWatch</value>
            </setting>
            <setting name="resultPath" serializeAs="String">
                <value>D:\RecUXB2B_EIVO\PDF\PdfResult</value>
            </setting>
        </PdfVerifier.Properties.Settings>
    </userSettings>
</configuration>