@using System.IO
@using System.Linq.Expressions


@using Model.DataEntity
@using Model.Locale
@using Newtonsoft.Json

@{
    List<InvoiceItem> _items;
    List<InvoiceItem> _model;
    _model = (List<InvoiceItem>)this.Model;
    _items = _model;
}

<div class="border_gray" style="overflow-x: auto; min-width: max-content; ">
    <table border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <td class="Bargain_btn">
                <button type="button" onclick="uiHandling.processPack();">整理郵件號碼</button>
            </td>
        </tr>
    </table>
    <table class="table01 itemList">
        <thead>
            <tr>
                <th style="min-width: 80px;">寄送日期</th>
                <th style="min-width: 120px;">GoogleID</th>
                <th style="min-width: 120px;">發票號碼</th>
                <th style="min-width: 320px;">掛號號碼</th>
                <th style="min-width: 120px;">收件人</th>
                <th style="min-width: 280px;">收件人地址</th>
                <th style="min-width: 60px;">備考</th>
                <th>作業方式</th>
                <th>附件張數</th>
                <th style="min-width: 150px;">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @{ Html.RenderPartial("~/Views/Handling/MailTracking/ItemList.cshtml", _model);}

        </tbody>
        <tfoot>
            <tr>
                <td colspan="8" class="Bargain_btn">
                    <button type="button" onclick="uiHandling.inquireTracking();">存檔</button>&nbsp;
                    <button type="button" onclick="uiHandling.download();">下載</button>
                    <button type="button" onclick="uiHandling.zipAll();">列印資料下載(ZIP)</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


