@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using Model.Locale
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Security.MembershipManagement
@using Business.Helper
@using Model.Helper
@using eIVOGo.Controllers

@{
    Layout = "~/Views/Template/MvcMainPage.cshtml";

    ViewBag.ActionName = "首頁 > 電子發票字軌號碼上傳";
}

<style>
    td input {
        width: 80px;
    }

    input.file {
        position: relative;
        text-align: right;
        -moz-opacity: 0;
        filter: alpha(opacity: 0);
        opacity: 0;
        z-index: 2;
    }
</style>


@{
    Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "上傳發票字軌號碼");
}

<div class="border_gray" id="queryArea">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        @{
            Html.RenderPartial("~/Views/InvoiceNo/Module/UploadInvoiceTrackCode.cshtml");
            Html.RenderPartial("~/Views/InvoiceNo/Module/UploadMOFInvoiceTrackCode.cshtml");
        }
    </table>
</div>

