@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    GenericManager<EIVOEntityDataContext> models;
    UserProfileMember _profile = Context.GetUser();
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ViewContext.Controller.DataSource();
    IQueryable<InvoiceAllowance> _model = (IQueryable<InvoiceAllowance>)this.Model;
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
@{
    String[] columns = (string[])ViewBag.TableColumns;
}
@*<tr>
    <td colspan="@(columns.Length-5)"></td>
    <td>金額總計：</td>
    <td>
        @{
            Html.RenderPartial("~/Views/PO/Module/POPayoffAmountSummary.cshtml", _model);
        }
    </td>
    <td colspan="2"></td>
</tr>*@