@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    GenericManager<EIVOEntityDataContext> models;
    UserProfileMember _profile = Context.GetUser();
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ViewContext.Controller.DataSource();
    IQueryable<InvoiceItem> _model = (IQueryable<InvoiceItem>)this.Model;
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
@{
    String _listID = $"list{DateTime.Now.Ticks}";
    String _paginationID = "pagination" + DateTime.Now.Ticks;
}
@{
    var recordCount = _model.Count();
    if (recordCount > 0)
    {
        <script>
            $inquiryAgent.doPage = function (data) {
                $('#@(_listID) table tbody')
                    .empty()
                    .append(data);
            };
        </script>
        <div id="@(_listID)" style="overflow-x:auto;">
            @{
                Html.RenderPartial(_viewModel.ResultView, _model);
            }
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination" id="@(_paginationID)"></ul>
        </nav>
        <script>
            $(function () {

                var obj = $('#@(_paginationID)').twbsPagination({
                    totalPages: @((recordCount + _viewModel.PageSize - 1) / _viewModel.PageSize),
                    totalRecordCount: @(recordCount),
                    visiblePages: 10,
                    first: '最前',
                    prev: '上頁',
                    next: '下頁',
                    last: '最後',
                    initiateStartPageClick: false,
                    onPageClick: function (event, page) {
                        $inquiryAgent.inquire(page);
                    }
                });
            });
        </script>
    }
}


