@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@{
    Layout = "~/Views/Shared/Module/MessageDialog.cshtml";

    ModelSource<InvoiceItem> models;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    OrganizationViewModel _viewModel = ViewBag.ViewModel as OrganizationViewModel;
    Organization _model = this.Model as Organization;
    String _viewID = "cert" + DateTime.Now.Ticks;

}
<div id="@(_viewID)" class="border_gray">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th class="Head_style_a" align="left">
                PKCS12(PFX)憑證檔:<input type="file" style="display:inline;" name="PfxFile" />
            </th>
            <td>
                PIN Code:<input type="password" name="PIN" />&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <button type="button" class="btn btnUpload">上載</button>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <font color="red" class="msg">
                    @if (_model?.OrganizationToken?.KeyID != null)
                    {
                        Write(String.Format("原憑證金鑰:{0}", _model.OrganizationToken.KeyID));
                    }
                </font>
            </td>
        </tr>
    </table>
    <script>
        $(function () {
            $('#@(_viewID) button.btnUpload').click(function (event) {
                var $formData = $('#@(_viewID)').find('input,select,textArea').serializeObject();
                $formData.KeyID = '@(_model.CompanyID.EncryptKey())';
                var $file = $('#@(_viewID) input[name="PfxFile"]');
                var $th = $file.parent();
                uploadFile($file, $formData, '@Html.Raw(Url.Action("CommitItem","CertificateIdentity"))',
                    function (data) {
                        $th.append($file);
                        if ($.isPlainObject(data)) {
                            if (data.result) {
                                $('#@(_viewID) font.msg').text(data.message);
                                alert('憑證識別更新完成!!');
                            } else {
                                $('#@(_viewID) font.msg').text(data.message);
                                alert('憑證識別更新失敗!!');
                            }
                        }
                    },
                    function () {
                        $th.append($file);
                    });
            });
        });
    </script>
</div>
