@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json

<!DOCTYPE html>
<html>
<head>
    <title>電子發票系統</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .error {
            color: red;
            font-style: italic;
            border: 1px dotted red;
        }
    </style>
    @{ Html.RenderPartial("~/Views/Shared/CommonScriptInclude.cshtml"); }
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel-default">
                    <div class="panel-body">
                        <form id="form1" accept-charset="UTF-8" role="form" method="post">
                            <fieldset>
                                <img class="mx-auto d-block logosize" src="~/images/e-GUIplatform.png" alt="" style="max-width:300px; " />
                                <div class="form-group prompt">
                                    <label for="user_login">ID</label>
                                    <input class="form-control" name="PID" type="text" required autofocus>
                                </div>
                                <div class="form-group prompt">
                                    <label>Password</label>
                                    <a class="form-sublink" href="@(Url.Action(" ForgetPassword","Account"))">Forgot password</a>
                                    <input class="form-control" name="Password" type="password" value="" required>
                                </div>
                                <button id="btn" type="button" class="btn btn-inverted btn-block mb-4">Sign In</button>
                                <div class="form-group">

                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@{ Html.RenderPartial("~/Views/Shared/ReportInputError.cshtml");}

<script>
    $(function () {
        $('input:text').addClass('form-control textfield');
    });
    $('#btn').click(function () {
        var event = event || window.event;
        $('form').prop('action', '@(Url.Action("CbsLogin","Account"))').submit();
    });
</script>
