
@using System.IO
@using System.Linq.Expressions
@using System.Collections.Specialized
@using eIVOGo.Helper
@using eIVOGo.Models
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI

@{
    Layout = "~/Views/Template/ContentPage.cshtml";
    ViewBag.ActionName = "首頁 > 重設密碼";
    dynamic _model = this.Model as dynamic;

    String _viewID = $"Q{DateTime.Now.Ticks}";

}

@section headContent {

}
@section formContent
{

}
<div id="@(_viewID)">
    @{
        Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "重設密碼");
    }
    <table id="queryArea" width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th colspan="4" class="Head_style_a">
                您的密碼已過期，請重設密碼：
            </th>
        </tr>
        @{ 
            Html.RenderPartial("~/Views/UserProfile/Module/ChangePass.cshtml");
        }
    </table>
    <br />
    <br />
</div>
<script>
    var dialogButtons = [];
</script>
<script>
    dialogButtons.push({
        text: "確定",
        icons: {
            primary: "ui-icon-close"
        },
        click: function () {
            var $formData = $('#queryArea').find('input,select,textarea').serializeObject();
            clearErrors();
            doPost('@Html.Raw(Url.Action("CommitPassword", "Account"))', $formData, function (data) {
                var $data = $(data);
                $('body').append($data);
                $data.remove();
            });
        }
    });

    dialogButtons.push({
        text: "關閉",
        icons: {
            primary: "ui-icon-close"
        },
        click: function () {
            $(this).dialog("close");
        }
    });

    $(function () {
        $('#@(_viewID)').dialog({
            width: 640,
            buttons: dialogButtons
        });
    });
</script>
