@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@{
    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;
}
<table id="tblAction" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="Bargain_btn">
            <input type="button" class="btn" name="btnPrint" value="Excel下載" onclick="$inquiryAgent.downloadQuery();" />
        </td>
    </tr>
</table>



