
@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using System.Xml
@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Locale
@using Model.Schema.EIVO
@using Utility
@using Business.Helper
@using Model.Helper
@using Uxnet.Web.WebUI
@{

    ModelSource<InvoiceItem> models;
    InvoiceItem _model;



    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _model = (InvoiceItem)this.Model;

}
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body {
            margin: 10px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }

        p {
            margin: 5px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }

        a:link {
            margin-left: 5px;
            margin-right: 5px;
            font-size: 12px; /*color:#0C419A;*/
            color: #FF6600;
            text-decoration: none;
            border-bottom: 1px dotted #666666;
        }

        a:hover {
            color: #0066CC;
            text-decoration: none;
            border-bottom: 1px solid #666666;
        }

        div.border_gray {
            border: 4px solid #DDD;
            background: #FFFFFF;
            margin: 10px 0px;
            padding: 10px;
        }

        .left_title {
            font-family: sans-serif,Geneva,Arial,Helvetica;
            border-top: 1px solid #DEB887;
            border-left: 1px solid #F5DEB3;
            border-bottom: 1px solid #F5DEB3;
            margin: 0px;
            color: #666666;
        }

            .left_title th {
                padding: 3px 5px;
                border-top: 1px solid #FFFFFF;
                font-size: 12px;
                font-weight: normal;
                line-height: 160%;
                color: #A0522D;
                background-color: #F5DEB3;
                text-align: right;
            }

                .left_title th.bordertop {
                    border-top-width: 0px;
                }

            .left_title td {
                padding: 3px 5px;
                border-right: 1px solid #F5DEB3;
                border-top: 1px solid #F5DEB3;
                font-size: 12px;
                line-height: 160%;
            }

                .left_title td.tdright {
                    text-align: right;
                }

                .left_title td.tdleft {
                    text-align: left;
                }
        /*--明細列視窗--*/
        .table01 {
            font-family: sans-serif,Geneva,Arial,Helvetica;
            border-top: 1px solid #DEB887;
            border-right: 1px solid #DDDDDD;
            margin: 0px;
            color: #666666;
        }

            .table01 th {
                padding: 3px 5px;
                border-left: 1px solid #FFF;
                border-bottom: 1px solid #FFF;
                font-size: 12px;
                font-weight: normal;
                line-height: 160%;
                color: #FFFFFF;
                background-color: #c99040;
            }

                .table01 th.borderleft {
                    padding: 3px 5px;
                    border-left: 1px solid #DEB887;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 160%;
                    color: #FFFFFF;
                    background-color: #c99040;
                }

            .table01 td {
                padding: 3px 5px;
                border-left: 1px solid #DDDDDD;
                border-bottom: 1px solid #DDDDDD;
                font-size: 12px;
                line-height: 160%;
            }

                .table01 td.tdright {
                    text-align: right;
                }

                .table01 td.tdleft {
                    text-align: left;
                }

        .OldLace {
            background-color: #FDF5E6;
        }

        .Head_style_a {
            font-size: 15px;
            color: #A0522D;
            padding-top: 5px 2px 5px 2px;
            letter-spacing: 1px;
        }

        .blue {
            color: #0066CC;
        }

        .red {
            color: #e60012;
        }

        .printBtn a {
            display: block;
            letter-spacing: 1px;
            width: 200px;
            height: 30px;
            line-height: 30px;
            font-size: 15px;
            font-weight: 700;
            text-align: center;
            vertical-align: middle;
            color: #447691;
            border-radius: 5px;
            background-color: #8ad3f3;
            text-decoration: none;
            border-left: 1px solid #489c9e;
            border-bottom: 1px solid #489c9e;
            border-top: 1px solid #b8f1f8;
            border-right: 1px solid #b8f1f8;
            margin-top: 15px;
            margin-bottom: 15px;
        }

            .printBtn a:hover {
                color: #084259;
                background-color: #8cd6f3;
                text-decoration: none;
                border-top: 1px solid #489c9e;
                border-right: 1px solid #489c9e;
                border-left: 1px solid #b8f1f8;
                border-bottom: 1px solid #b8f1f8;
                box-shadow: -1px 1px 2px #888888;
            }
    </style>
    <title>電子發票系統</title>
</head>
<body>

    <form>
        <!--交易畫面標題-->
        @if (!_model.Organization.OrganizationStatus.InvoiceNoticeSetting.CheckNotice(Naming.InvoiceNoticeStatus.UseCustomStyle))
        {
            <p>
                您的客戶編號：<span class="blue">@(_model.InvoiceBuyer.CustomerID.StringMask(4, 3, '*'))</span> 發票已經開立，電子發票內容如下：
            </p>
        }
        <div class="border_gray" style="width:100%">
            <!--表格 開始-->
            @{
                ViewBag.MailTitle = "電子發票開立通知";
                Html.RenderPartial("~/Views/Notification/Module/MailTitle.cshtml", _model.Organization);
            }
            @{
                Html.RenderPartial("~/Views/Notification/Custom/16446274/Invoice.cshtml", _model);
            }
            <!--表格 結束-->
        </div>
        @if (_model.Organization.OrganizationStatus.UseB2BStandalone == true)
        {
            if (_model.InvoiceBuyer.IsB2C())
            {
                <p class="printBtn">
                    <a href="@Html.Raw($"{Uxnet.Web.Properties.Settings.Default.HostUrl}{Url.Action("ShowInvoicePageView","DataView",new { keyID = _model.InvoiceID.EncryptKey() })}")">》請點此連結檢視發票</a>
                </p>
            }
            else /*if (_model.Organization.OrganizationStatus.SubscribeB2BInvoicePDF == false)*/
            {
                <p class="printBtn">
                    <a href="@($"{Uxnet.Web.Properties.Settings.Default.HostUrl}{Url.Action("InquireForIncoming","InvoiceProcess",new { queryAtStart=true,invoiceNo =  _model.TrackCode + _model.No})}")">》請點此連結列印發票</a>
                </p>
            }
        }
    <p>
        本公司依據財政部「電子發票實施作業要點」使用雲端發票，您的發票明細資料將上傳至財政部<a href="https://www.einvoice.nat.gov.tw/portal/btc/audit">電子發票整合服務平台</a>，無論是個人載具發票或是會員載具託管發票，將不再另行寄送紙本發票。若會員載具託管發票中獎，本公司將依法於開獎日翌日起10日內以電子郵件通知發票中獎訊息，並提供電子發票證明聯紙本作為兌獎憑證。您可於發票開立48小時後，至財政部<a href="https://www.einvoice.nat.gov.tw/portal/btc/audit">電子發票整合服務平台</a>進行發票資料查詢。
        公司用電子發票證明聯亦請自行於財政部<a href="https://www.einvoice.nat.gov.tw/portal/btc/audit">電子發票整合服務平台</a>下載列印。
    </p>
        <p class="red">
            &nbsp;
        </p>
        @if (_model.Organization.OrganizationExtension?.CustomNotification != null)
        {
            <text>
                @Html.Raw(HttpUtility.HtmlDecode(_model.Organization.OrganizationExtension?.CustomNotification))
            </text>
        }
        <p>&nbsp;</p>
        @{
            Html.RenderPartial("~/Views/Notification/Module/IssuedNotice.cshtml", _model);
        }
        <!--按鈕-->
    </form>
</body>
</html>

