<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataSystemsConversionTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <DataSystemsConversionTool.Properties.Settings>
            <setting name="SourceInvoiceDataDtsx" serializeAs="String">
                <value>SourceInvoiceData.dtsx</value>
            </setting>
            <setting name="SourceInvoiceDetailDataDtsx" serializeAs="String">
                <value>SourceInvoiceDetailData.dtsx</value>
            </setting>
            <setting name="DestinationFileName" serializeAs="String">
                <value>InvoiceRequest</value>
            </setting>
            <setting name="StoreRoot" serializeAs="String">
                <value>WebStore</value>
            </setting>
            <setting name="ERPFileName" serializeAs="String">
                <value>ERP</value>
            </setting>
            <setting name="InvoiceRequestTemp" serializeAs="String">
                <value>InvoiceRequestTemp</value>
            </setting>
            <setting name="InvoiceRequestSample" serializeAs="String">
                <value>InvoiceRequestSample</value>
            </setting>
            <setting name="UploadFileUrl" serializeAs="String">
                <value>http://eguitest.uxifs.com/TaskCenter/InvoiceData/UploadInvoiceRequestXlsx</value>
            </setting>
            <setting name="AgentID" serializeAs="String">
                <value>2357</value>
            </setting>
            <setting name="Sender" serializeAs="String">
                <value>17292</value>
            </setting>
            <setting name="ProcessType" serializeAs="String">
                <value>311</value>
            </setting>
        </DataSystemsConversionTool.Properties.Settings>
    </applicationSettings>
</configuration>