
@using System.IO
@using System.Linq.Expressions


<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="@(VirtualPathUtility.ToAbsolute("~/UserProfile/EditMySelf"))"><i class="fa fa-hand-o-right" aria-hidden="true"></i>帳號管理</a>
            </li>
            <li>
                <a href="@(VirtualPathUtility.ToAbsolute("~/InvoiceProcess/InquireForIncoming"))"><i class="fa fa-hand-o-right" aria-hidden="true"></i>資料查詢／列印／匯出</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>


