
@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@using Business.Helper
@{
    InvoiceItem _model;
    _model = (InvoiceItem)this.Model;
}
<div class="btn-group dropdown" data-toggle="dropdown">
    <button class="btn bg-color-blueLight" data-toggle="dropdown" aria-expanded="false">請選擇功能</button>
    <button class="btn bg-color-blueLight dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a class="btn" onclick="uiInvoiceQuery.editBuyer('@(_model.InvoiceID.EncryptKey())');">修改買受人</a></li>
    </ul>
</div>



