
@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@using Business.Helper
@using Model.Helper
@{
    InvoiceItem _model;
    _model = (InvoiceItem)this.Model;
}

@if (_model.InvoiceCancellation == null && _model.InvoiceDonation == null
    && _model.PrintMark == "N" && (_model.Organization.OrganizationStatus.InvoiceNoticeSetting & (int)Naming.InvoiceNoticeStatus.Winning) > 0
    && _model.InvoiceWinningNumber != null)
{
    <a class="btn" onclick="uiInvoiceQuery.notifyWinning('@(_model.InvoiceID.EncryptKey())');">通知中獎</a>
}