@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    GenericManager<EIVOEntityDataContext> models;

    models = ViewContext.Controller.DataSource();
    UserProfileMember _profile = Context.GetUser();
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    ProcessRequestQueryViewModel _viewModel = (ProcessRequestQueryViewModel)ViewBag.ViewModel;
}
@{
    Naming.FieldDisplayType? displayType = (Naming.FieldDisplayType?)ViewBag.DisplayType;
}
@switch (displayType)
{
    case Naming.FieldDisplayType.Header:
        <a href="javascript:void(0);" onclick="$inquiryAgent.sort('ProcessStart',this);">任務開始</a>
        break;
    case Naming.FieldDisplayType.DataItem:
        ProcessRequest item = this.Model as ProcessRequest;
        <text>@($"{item.ProcessStart:yyyy/MM/dd HH:mm:ss}")</text>
        break;
    case Naming.FieldDisplayType.SortBy:
        ProcessRequestQueryViewModel viewModel = (ProcessRequestQueryViewModel)ViewBag.ViewModel;
        if (viewModel.SortName != null)
        {
            int idx = System.Array.IndexOf(viewModel.SortName, "ProcessStart");
            if (idx >= 0)
            {
                if (viewModel.SortType[idx] == (int)Naming.SortType.ASC)
                {
                    if (TempData["SortedItems"] != null)
                    {
                        TempData["SortedItems"] = ((IOrderedQueryable<ProcessRequest>)TempData["SortedItems"]).ThenBy(p => p.ProcessStart);
                    }
                    else
                    {
                        TempData["SortedItems"] = ((IQueryable<ProcessRequest>)this.Model).OrderBy(p => p.ProcessStart);
                    }
                }
                else if (viewModel.SortType[idx] == (int)Naming.SortType.DESC)
                {
                    if (TempData["SortedItems"] != null)
                    {
                        TempData["SortedItems"] = ((IOrderedQueryable<ProcessRequest>)TempData["SortedItems"]).ThenByDescending(p => p.ProcessStart);
                    }
                    else
                    {
                        TempData["SortedItems"] = ((IQueryable<ProcessRequest>)this.Model).OrderByDescending(p => p.ProcessStart);
                    }
                }
            }
        }
        break;
    case Naming.FieldDisplayType.Query:
<tr>
    <th>
        任務開始
    </th>
    <td class="tdleft">
        自&nbsp;<input name="ProcessStartFrom" class="form_date form-control" type="text" size="10" readonly="readonly" value="@($"{_viewModel?.ProcessStartFrom:yyyy/MM/dd}")" />
        &nbsp;至&nbsp;
        <input name="ProcessStartTo" class="form_date form-control" type="text" size="10" readonly="readonly" value="@($"{_viewModel?.ProcessStartTo:yyyy/MM/dd}")" />
    </td>
</tr>
        break;
    default:
        break;
}


