@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using Model.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@using DataAccessLayer

@{
    ModelStateDictionary _modelState;
    GenericManager<EIVOEntityDataContext> models;

    models = ViewContext.Controller.DataSource();
    UserProfileMember _profile = Context.GetUser();
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;
}
@{
    Naming.FieldDisplayType? displayType = (Naming.FieldDisplayType?)ViewBag.DisplayType;
}
@switch (displayType)
{
    case Naming.FieldDisplayType.Header:
        <a href="javascript:void(0);" onclick="$inquiryAgent.sort('ExchangeRate',this);">匯率</a>
        break;
    case Naming.FieldDisplayType.DataItem:
        InvoicePeriodExchangeRate item = this.Model as InvoicePeriodExchangeRate;
        <text>@(item?.ExchangeRate)</text>
        break;
    case Naming.FieldDisplayType.SortBy:
        QueryViewModel viewModel = (QueryViewModel)ViewBag.ViewModel;
        if (viewModel.SortName != null)
        {
            int idx = System.Array.IndexOf(viewModel.SortName, "ExchangeRate");
            if (idx >= 0)
            {
                TempData["SortedItems"] = (TempData["SortedItems"] as IOrderedQueryable<InvoicePeriodExchangeRate> ?? (IQueryable<InvoicePeriodExchangeRate>)this.Model).OrderBy(p => p.ExchangeRate, viewModel.SortType[idx]);
            }
        }
        break;

    case Naming.FieldDisplayType.Edit:
        item = this.Model as InvoicePeriodExchangeRate;
        <text>
            @editField(_viewModel as ExchangeRateQueryViewModel, item)
        </text>
        break;
    default:
        break;
}

@helper editField(ExchangeRateQueryViewModel _viewModel, InvoicePeriodExchangeRate item)
{
    <input name="ExchangeRate" class="form-control" type="text" value="@(item!=null ? item.ExchangeRate : _viewModel?.ExchangeRate)" />
}


