@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using Model.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    GenericManager<EIVOEntityDataContext> models;

    models = ViewContext.Controller.DataSource();
    UserProfileMember _profile = Context.GetUser();
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
@{
    Naming.FieldDisplayType? displayType = (Naming.FieldDisplayType?)ViewBag.DisplayType;
}
@switch (displayType)
{
    case Naming.FieldDisplayType.Header:
        <a href="javascript:void(0);" onclick="$inquiryAgent.sort('SaleAmount',this);">稅額</a>
        break;
    case Naming.FieldDisplayType.DataItem:
        InvoiceAllowance item = this.Model as InvoiceAllowance;
        <pre class="number">@($"{item.TaxAmount,12:##,###,###,###.###}")</pre>
        break;
    case Naming.FieldDisplayType.SortBy:
        InquireInvoiceViewModel viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
        if (viewModel.SortName != null)
        {
            int idx = System.Array.IndexOf(viewModel.SortName, "SaleAmount");
            if (idx >= 0)
            {
                if (viewModel.SortType[idx] == (int)Naming.SortType.ASC)
                {
                    if (TempData["SortedItems"] != null)
                    {
                        TempData["SortedItems"] = ((IOrderedQueryable<InvoiceAllowance>)TempData["SortedItems"]).ThenBy(p => p.TaxAmount);
                    }
                    else
                    {
                        TempData["SortedItems"] = ((IQueryable<InvoiceAllowance>)this.Model).OrderBy(p => p.TaxAmount);
                    }
                }
                else if (viewModel.SortType[idx] == (int)Naming.SortType.DESC)
                {
                    if (TempData["SortedItems"] != null)
                    {
                        TempData["SortedItems"] = ((IOrderedQueryable<InvoiceAllowance>)TempData["SortedItems"]).ThenByDescending(p => p.TaxAmount);
                    }
                    else
                    {
                        TempData["SortedItems"] = ((IQueryable<InvoiceAllowance>)this.Model).OrderByDescending(p => p.TaxAmount);
                    }
                }
            }
        }
        break;
    case Naming.FieldDisplayType.Query:
        break;
    default:
        break;
}


