
@{
    Layout = null;
}

<table class="resultAction" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="Bargain_btn">
            <button type="button" class="btn" name="btnMatch" onclick="uiWinningNo.match();">執行發票對獎</button>
            <button type="button" class="btn" name="btnMatch" onclick="uiWinningNo.resetWinning();">清除中獎發票</button>
        </td>
    </tr>
</table>
