@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using Model.Locale
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Security.MembershipManagement
@using eIVOGo.Controllers
@using Business.Helper
@using Model.Helper
@using global::ApplicationResource

@{
    ActionResultViewModel _viewModel = (ActionResultViewModel)ViewBag.ViewModel;

    if (_viewModel == null)
    {
        _viewModel = new ActionResultViewModel { };
    }
}
@if (_viewModel.ErrorCode != null && _viewModel.ErrorCode.Length > 0)
{
    <div>
        @foreach (var code in _viewModel.ErrorCode)
        {
            <text>@(ErrorMessage.ResourceManager.GetString(code))</text><br />
        }
    </div>
}
else
{
    <span>@(_viewModel.Message)</span>
}



