@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using Model.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    GenericManager<EIVOEntityDataContext> models;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ViewContext.Controller.DataSource();
    QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;
}
@{
    String[] columns = (string[])ViewBag.TableColumns;
    object item = (object)this.Model;
}
<tr>
    @foreach (var c in columns)
    {
        <td>@{ Html.RenderPartial(c, item); }</td>
    }
</tr>

