@using System.IO
@using System.Linq.Expressions
@using System.Web.Mvc.Html
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@using res = eIVOGo.Resource.Views.InvoiceQuery.Module.AttachmentResult

@{
    ModelSource<InvoiceItem> models;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    models.DataSourcePath = VirtualPathUtility.ToAbsolute("~/InvoiceQuery/AttachmentGridPage");

    Html.RenderPartial("~/Views/InvoiceQuery/Module/InvoiceAttachment.cshtml");
    Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", res.查詢結果);
}

@if (!models.InquiryHasError)
{
    <uc6:functiontitlebar id="resultTitle" runat="server" itemname="查詢結果" />
    <div class="border_gray">
        @{ Html.RenderPartial("~/Views/Module/InvoiceAttachmentList.ascx", models);}
    </div>
    if (models.Items.Count() > 0)
    {
        <table id="tblAction" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="Bargain_btn">
                    <input type="button" value=@res.選取下載 name="btnDownload" class="btn" />&nbsp;&nbsp;
                    <input type="button" value=@res.全部下載 name="btnDownloadAll" class="btn" onclick="$('form').prop('action', '@(Url.Action("DownloadAll"))    ').submit();" />
                </td>
            </tr>
        </table>
        <script>
            $(function() {

                var $formDownload;
                var $data;

                $('input[name="btnDownload"]').on('click',function(evt) {
                    var $items = $('input[name="chkItem"]:checked');
                    if($items.length > 0) {
                        if($formDownload==undefined) {
                            $data = $('<input name="data" type="hidden"/>');
                            $formDownload = $('<form target="_blank" method="post">')
                                .append($data);
                            $('body').append($formDownload);
                        }
                        $formDownload.prop('action', '@(Url.Action("DownloadAttachment"))');
                        var data = [];
                        $items.each(function(idx,elmt) {
                            data[data.length] = $(elmt).val();
                        });
                        $data.val(JSON.stringify(data));
                        $formDownload.submit();
                    } else {
                        alert('@res.請選擇下載資料項__');
                    }
                });
            });
        </script>
    }
}

