@using System.IO

@using System.Linq.Expressions
@using eIVOGo.Helper
@using eIVOGo.Module.Base
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@{
    ModelSource<InvoiceItem> models;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    InquireInvoiceViewModel _viewModel = ViewBag.ViewModel as InquireInvoiceViewModel;
    IQueryable<Organization> _model = (IQueryable<Organization>)this.Model;
}

@{
    if (_viewModel.InitQuery != true && _viewModel.PageIndex.HasValue)
    {
        Html.RenderPartial("~/Views/InvoiceQuery/Module/TableBody.cshtml", _model);
    }
    else
    {
        <table class="table01 itemList">
            <thead>
                <tr>
                    <th>
                        @{
                            Html.RenderPartial("~/Views/Common/Module/SortableHeader.cshtml", new String[] { "營業人名稱", "營業人名稱" });
                        }
                    </th>
                    <th>
                        @{
                            Html.RenderPartial("~/Views/Common/Module/SortableHeader.cshtml", new String[] { "統一編號", "統一編號" });
                        }
                    </th>
                    <th>資料筆數</th>
                    <th>註記停用</th>
                </tr>
            </thead>
            <tbody>
                @{
                    Html.RenderPartial("~/Views/InvoiceQuery/Module/TableBody.cshtml", _model);
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        @*@{ Html.RenderPartial("~/Views/Module/PrintData.ascx");}
                        <input type="button" value="Excel下載" name="btnExcel" class="btn" onclick="$('form').prop('action', '@(Url.Action("CreateInvoiceSummaryXlsx"))    ').submit();" />*@
                    </td>
                </tr>
            </tfoot>
        </table>
    }
}



