@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@{
    ModelSource<InvoiceItem> models;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    Layout = "~/Views/Template/QueryFormTemplate.cshtml";

}

<!--交易畫面標題-->
@{ Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "發票報表匯出");}
@section QueryFormContent
{
    <!--表格 開始-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th colspan="2" class="Head_style_a">
                查詢條件
            </th>
        </tr>
        @{
            ((CommonInquiry<InvoiceItem>)this.Model).Render(Html);
        }

        @{
            Html.RenderPartial("~/Views/InquireInvoice/ByInvoiceNo.cshtml");
            Html.RenderPartial("~/Views/InquireInvoice/ByWinningNumber.cshtml");
            Html.RenderPartial("~/Views/InquireInvoice/ByCancellation.cshtml");
        }

    </table>
    <!--表格 結束-->
    <!--按鈕-->
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td class="Bargain_btn">
                <input type="button" value="查詢" name="btnQuery" class="btn btn-primary" onclick="$inquiryAgent.initQuery = true; $inquiryAgent.inquire();" />
                <input type="button" value="下載月報表" name="btnMonthlyReport" class="btn" onclick="downloadMonthlyReport();" />
            </td>
        </tr>
    </table>
    <script>
        function downloadMonthlyReport() {
            var event = event || window.event;

            var $formData = $('input,select,textarea').serializeObject();

            clearErrors();
            showLoading();
            $.post('@(Url.Action("CreateMonthlyReportXlsx","InvoiceQuery"))', $formData, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    alert(data.message);
                } else {
                    var $data = $(data);
                    $('body').append($data);
                }
            });
        }

    $(function() {
        var $opts = $('form select[name="sellerID"] option');
        if($opts.length==2) {
            $opts.eq(0).remove();
        }
    });
    </script>
    <!--表格 開始-->
}

@{ ((CommonInquiry<InvoiceItem>)this.Model).RenderAlert(Html);}


