@using System.IO
@using System.Linq.Expressions
@using System.Web.Mvc.Html
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel

@{
    ModelSource<InvoiceItem> models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
    models.DataSourcePath = VirtualPathUtility.ToAbsolute("~/InvoiceQuery/InvoiceSummaryGridPage");
}

@{
    Html.RenderPartial("~/Views/InvoiceQuery/Module/InvoiceReport.cshtml");
    Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "查詢結果");
}
@if (!models.InquiryHasError)
{

    <div class="border_gray" id="queryArea">
        @{
            Html.RenderPartial("~/Views/Module/InvoiceSummaryList.ascx", models);

        }
    </div>

    if (models.Items.Count() > 0)
    {
        <table id="tblAction" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="Bargain_btn">
                    @{Html.RenderPartial("~/Views/Module/PrintData.cshtml");}
                    <input type="button" value="Excel下載" name="btnExcel" class="btn" onclick="$('form').prop('action', '@(Url.Action("CreateInvoiceSummaryXlsx"))    ').submit();" />
                </td>
            </tr>
        </table>
    }

}

