@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using Model.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@using Uxnet.Com.DataAccessLayer

@{
    ModelStateDictionary _modelState;
    GenericManager<EIVOEntityDataContext> models;

    models = ViewContext.Controller.DataSource();
    UserProfileMember _profile = Context.GetUser();
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    ProductCatalogQueryViewModel _viewModel = (ProductCatalogQueryViewModel)ViewBag.ViewModel;
}
@{
    Naming.FieldDisplayType? displayType = (Naming.FieldDisplayType?)ViewBag.DisplayType;
}
@switch (displayType)
{
    case Naming.FieldDisplayType.Header:
        <a href="javascript:void(0);" onclick="$inquiryAgent.sort('SalePrice',this);">單價</a>
        break;
    case Naming.FieldDisplayType.DataItem:
        ProductCatalog item = this.Model as ProductCatalog;
        <text>@(item?.SalePrice)</text>
        break;
    case Naming.FieldDisplayType.SortBy:
        ProductCatalogQueryViewModel viewModel = (ProductCatalogQueryViewModel)ViewBag.ViewModel;
        if (viewModel.SortName != null)
        {
            int idx = System.Array.IndexOf(viewModel.SortName, "SalePrice");
            if (idx >= 0)
            {
                TempData["SortedItems"] = (TempData["SortedItems"] as IOrderedQueryable<ProductCatalog> ?? (IQueryable<ProductCatalog>)this.Model).OrderBy(p => p.SalePrice, viewModel.SortType[idx]);
            }
        }
        break;

    case Naming.FieldDisplayType.Edit:
        item = this.Model as ProductCatalog;
        <text>
            @editField(_viewModel, item)
        </text>
        break;
    default:
        break;
}

@helper editField(ProductCatalogQueryViewModel _viewModel, ProductCatalog item)
{
    <input name="SalePrice" class="form-control" type="text" value="@(item!=null ? item.SalePrice : _viewModel?.SalePrice)" />
}


