@using System.IO
@using System.Linq.Expressions
@using System.Web.Mvc.Html
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@model Model.Models.ViewModel.InquireNoIntervalViewModel

@{
    Layout = null;

    InquireNoIntervalViewModel _model = this.Model;

    var yearList = new List<SelectListItem>();

    for (int yy = DateTime.Today.Year; yy >= 2011; yy--)
    {
        var selectListItem = new SelectListItem
        {
            Text = (yy - 1911).ToString(),
            Value = yy.ToString()
        };

        if (_model != null && _model.Year != null)
        {
            if (yy.Equals(_model.Year))
            {
                selectListItem.Selected = true;
            }
        }
        else
        {
            if (yy.Equals(DateTime.Now.Year))
            {
                selectListItem.Selected = true;
            }
        }

        yearList.Add(selectListItem);
    }

    var periodNoList = new List<SelectListItem>();

    for (int i = 1; i < 7; i++)
    {
        var selectListItem = new SelectListItem
        {
            Text = String.Format("{0:00}-{1:00}月", i * 2 - 1, i * 2).ToString(),
            Value = i.ToString()
        };

        if (_model != null && _model.PeriodNo != null)
        {
            if (((i + 1) / 2).Equals(_model.PeriodNo))
            {
                selectListItem.Selected = true;
            }
        }
        else
        {
            if ((i * 2).Equals(DateTime.Now.Month) || (i * 2 - 1).Equals(DateTime.Now.Month))
            {
                selectListItem.Selected = true;
            }
        }

        periodNoList.Add(selectListItem);
    }
}

<!--交易畫面標題-->
@{ Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "中獎號碼維護");}

<div class="border_gray">
    <!--表格 開始-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th colspan="2" class="Head_style_a">
                查詢條件
            </th>
        </tr>
        <tr>
            <th width="200px">
                發票年度（民國年）
            </th>
            <td class="tdleft">
                @Html.DropDownListFor(m => m.Year, yearList, new { onchange = "YearListIndexChanged()" })
            </td>
        </tr>
        <tr>
            <th>發票期別</th>
            <td class="tdleft">
                @Html.DropDownListFor(m => m.PeriodNo, periodNoList, new { onchange = "PeriodNoListIndexChanged()" })
            </td>
        </tr>
        @*<tr>
                <th>字軌
                </th>
                <td class="tdleft" id="trackCodeSelector">
                    @{ Html.RenderAction("TrackCodeSelector", "InvoiceNo", new { Year = DateTime.Today.Year, PeriodNo = (DateTime.Today.Month + 1) / 2, SelectIndication = "全部" });}

                </td>
            </tr>*@
    </table>
    <!--表格 結束-->
</div>

<!--按鈕-->
<table border="0" cellspacing="0" cellpadding="0" width="100%" class="queryAction">
    <tbody>
        <tr>
            <td class="Bargain_btn">
                <button type="button" onclick="uiWinningNo.inquire();">查詢</button>&nbsp;&nbsp;
            </td>
        </tr>
    </tbody>
</table>

<input type="hidden" name="PeriodNo" />
<input type="hidden" name="Year" />

<!--表格 開始-->
@{ Html.RenderPartial("~/Views/WinningNumber/ScriptHelper/Common.cshtml");}

@{ Html.RenderPartial("~/Views/WinningNumber/ScriptHelper/MatchWinning.cshtml");}

<script type="text/javascript">

    $(document).ready(function () {
        $('input[name="PeriodNo"]').val($('#PeriodNo').val());
        $('input[name="Year"]').val($('#Year').val());
    })

    function PeriodNoListIndexChanged() {
        //Form post
        $('input[name="pageIndex"]').remove();
        $('input[name="PeriodNo"]').val($('#PeriodNo').val());
    }

    function YearListIndexChanged() {
        //Form post
        $('input[name="Year"]').val($('#Year').val());
    }
</script>

