
@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@{


    ModelSource<InvoiceItem> models;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;

    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
    _viewModel.UrlAction = Url.Action("Inquire2023", "InvoiceProcess");

}
<!--交易畫面標題-->
@{ Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "MIG格式下載");}

<div class="border_gray">
    <!--表格 開始-->
    <table id="queryArea" width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th colspan="2" class="Head_style_a">
                查詢條件
                <input type="hidden" name="ResultAction" value="@(_viewModel.ResultAction ?? "CreateMIG")" />
            </th>
        </tr>
        @{ ((CommonInquiry<InvoiceItem>)this.Model).Render(Html);}

        @{ Html.RenderPartial("~/Views/InquireInvoice/ByWinningNumber.cshtml");
            Html.RenderPartial("~/Views/InquireInvoice/ByCancellation.cshtml");}

    </table>
    <!--表格 結束-->
</div>
@{ ((CommonInquiry<InvoiceItem>)this.Model).RenderAlert(Html);}

<!--按鈕-->
<table border="0" cellspacing="0" cellpadding="0" width="100%" class="queryAction">
    <tbody>
        <tr>
            <td class="Bargain_btn">
                <button type="button" onclick="$inquiryAgent.initQuery = true; $inquiryAgent.inquire();">查詢</button>
            </td>
        </tr>
    </tbody>
</table>
<!--表格 開始-->
@{ Html.RenderPartial("~/Views/InvoiceProcess/ScriptHelper/Common.cshtml");}

@{ Html.RenderPartial("~/Views/InvoiceProcess/ScriptHelper/ForMIG.cshtml");}


