<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Uxnet.Com.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Model.Properties.Settings.eInvoiceConnectionString" connectionString="Data Source=192.168.200.23\sqlexpress,1433;Initial Catalog=EIVO03;Persist Security Info=True;User ID=eivo;Password=eivoeivo;Max Pool Size=1000;Min Pool Size=300;" providerName="System.Data.SqlClient" />
    <add name="Model.Properties.Settings.EINVTurnkey2ConnectionString" connectionString="Data Source=192.168.200.23\sqlexpress,1433;Initial Catalog=EINVTurnkey2;Persist Security Info=True;User ID=sa;Password=111111" providerName="System.Data.SqlClient" />
    <add name="TestConsole.Properties.Settings.EIVO03ConnectionString" connectionString="Data Source=192.168.200.23\sqlexpress,1433;Initial Catalog=EIVO03;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <Model.Properties.Settings>
      <setting name="SessionTimeout" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="A1401Outbound" serializeAs="String">
        <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\A1401\SRC</value>
      </setting>
      <setting name="B1401Outbound" serializeAs="String">
        <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\B1401\SRC</value>
      </setting>
      <setting name="A0501Outbound" serializeAs="String">
        <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\A0501\SRC</value>
      </setting>
      <setting name="B0501Outbound" serializeAs="String">
        <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\B0501\SRC</value>
      </setting>
      <setting name="A0401Outbound" serializeAs="String">
        <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\A0401\SRC</value>
      </setting>
      <setting name="B0401Outbound" serializeAs="String">
        <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\B0401\SRC</value>
      </setting>
      <setting name="B0301Outbound" serializeAs="String">
        <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\B0301\SRC</value>
      </setting>
      <setting name="C0401Outbound" serializeAs="String">
        <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\C0401\SRC</value>
      </setting>
      <setting name="C0501Outbound" serializeAs="String">
        <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\C0501\SRC</value>
      </setting>
      <setting name="D0501Outbound" serializeAs="String">
        <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\D0501\SRC</value>
      </setting>
      <setting name="E0402Outbound" serializeAs="String">
        <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\E0402\SRC</value>
      </setting>
      <setting name="D0401Outbound" serializeAs="String">
        <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\D0401\SRC</value>
      </setting>
      <setting name="E0401Outbound" serializeAs="String">
        <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\E0401\SRC</value>
      </setting>
      <setting name="UploadedFilePath" serializeAs="String">
        <value>TempForPDF</value>
      </setting>
      <setting name="C0701Outbound" serializeAs="String">
        <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\C0701\SRC</value>
      </setting>
    </Model.Properties.Settings>
    <Uxnet.Com.Properties.Settings>
      <setting name="XpsPrinterName" serializeAs="String">
        <value>Microsoft XPS Document Writer</value>
      </setting>
      <setting name="WndPrnTitle" serializeAs="String">
        <value>列印</value>
      </setting>
      <setting name="BtnPrnTitle" serializeAs="String">
        <value>列印(&amp;P)</value>
      </setting>
      <setting name="WndSaveAsTitle" serializeAs="String">
        <value>另存檔案為</value>
      </setting>
      <setting name="BtnSaveTitle" serializeAs="String">
        <value>儲存(&amp;S)</value>
      </setting>
      <setting name="PdfPrinterName" serializeAs="String">
        <value>Bullzip PDF Printer</value>
      </setting>
      <setting name="SqlLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Uxnet_Com_WS_DocumentService_DocumentCreator" serializeAs="String">
        <value>http://hinet01:8880/DocumentService/DocumentCreator.asmx</value>
      </setting>
      <setting name="UseMessageCenter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MessageUploadUrl" serializeAs="String">
        <value>http://tpit-matrix/CDSAR/published/UploadFile.ashx</value>
      </setting>
      <setting name="Uxnet_Com_WS_MessageService_SendMessage" serializeAs="String">
        <value>http://tpit-matrix/CDSAR/published/SendMessage.asmx</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DBConnectionStringName" serializeAs="String">
        <value>masterDB</value>
      </setting>
      <setting name="PDFWorkingQueue" serializeAs="String">
        <value>C:\UXB2B_EIVO\PDFQueue</value>
      </setting>
      <setting name="PdfOutput" serializeAs="String">
        <value>G:\PDF_Out\PdfPrinter.pdf</value>
      </setting>
      <setting name="MaxWaitingInterval" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="UsePDFPrinterService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreCertificateRevoked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PKCS7LogType" serializeAs="String">
        <value>Uxnet.Com.Security.UseCrypto.dsPKCS7,Uxnet.Com, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</value>
      </setting>
      <setting name="IPdfUtilityImpl" serializeAs="String">
        <value>Uxnet.Com.Helper.DefaultTools.PdfUtility,Uxnet.Com, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</value>
      </setting>
    </Uxnet.Com.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="eInvoiceServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://eivo4all.uxifs.com/NewEivo03/Published/einvoiceService.asmx" binding="basicHttpBinding" bindingConfiguration="eInvoiceServiceSoap" contract="ServiceReference1.eInvoiceServiceSoap" name="eInvoiceServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1.0.0" newVersion="18.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.5.0" newVersion="5.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
