

@using System.IO

@using System.Linq.Expressions
@using eIVOGo.Helper
@using eIVOGo.Module.Base
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI

<div>@(((ModelSourceInquiry)Model).QueryMessage)</div>
