
@using System.IO

@using System.Linq.Expressions
@using eIVOGo.Helper
@using eIVOGo.Module.Base
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI

@{
//var gridInit = new Model.Models.ViewModel.JsGridInitializationViewModel();
//gridInit.DataSourceUrl = ((ModelSource<InvoiceItem>)Model).DataSourcePath;
//gridInit.GetRecordCount = () =>
//{
//    return ((ModelSource<InvoiceItem>)Model).Items
//        .GroupBy(i => i.SellerID)
//        .Count();
//};
//gridInit.AllowPaging = ((ModelSource<InvoiceItem>)Model).ResultModel == Naming.DataResultMode.Display;
//gridInit.PrintMode = ((ModelSource<InvoiceItem>)Model).ResultModel == Naming.DataResultMode.Print;
//gridInit.QueryPageSize = ((ModelSource<InvoiceItem>)Model).InquiryPageSize
}

<div id="fieldsContainer"></div>
<div id="jsGrid"></div>

@*@{ Html.RenderPartial("~/Views/Common/Module/JsGridInitialization.cshtml", gridInit);}*@
@{ Html.RenderPartial("~/Module/JsGrid/JsGridInitialization.ascx");}

<script>

    var fields = [

        {
            "name": "SellerReceiptNo",
            "type": "text",
            "title": "統編",
            "width": "80",
            "align": "center"
        },
        {
            "name": "SellerName",
            "type": "text",
            "title": "開立發票營業人",
            "width": "160",
            "align": "left"
        },
        {
            "name": "Addr",
            "type": "text",
            "title": "營業人地址",
            "width": "360",
            "align": "left"
        },
        {
            "name": "WinningCount",
            "type": "text",
            "title": "中獎張數",
            "width": "80",
            "align": "left"
        },
        {
            "name": "DonationCount",
            "type": "text",
            "title": "捐贈張數",
            "width": "80",
            "align": "left"
        }
    ];

</script>


