
@using System.IO
@using System.Linq.Expressions


@using Model.DataEntity
@using Model.Locale
@using Utility

    <table id="tblAction" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td >
                <button type="button" class="btn" name="btnVoid" onclick="uiInvoiceQuery.desireToVoid(true);">核准</button>&nbsp;&nbsp;
                <button type="button" class="btn" name="btnVoidCancellation" onclick="uiInvoiceQuery.desireToVoid(false);">退回</button>
            </td>
        </tr>
    </table>


    <script>
        window.uiInvoiceQuery.desireToVoid = function (allow) {
            if (!$('input[name="chkItem"]').is(':checked')) {
                alert('請選擇核准註銷資料!!');
                return false;
            }

            var $formData = $('#queryArea').find('input,select,textarea').serializeObject();
            $formData = {
                ...$formData,
                ...$('#queryResult').find('input,select,textarea').serializeObject(),
                allow: allow,
            };

            doPost('@(Url.Action("DesireToVoidInvoice","InvoiceProcess"))', $formData, function (data) {
                var $data = $(data);
                $('body').append($data);
                $data.remove();
            });
        };

    </script>

