@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Utility
@using Uxnet.Web.WebUI
@{

    ModelSource<InvoiceItem>
    models;
    UserProfileMember _profile;


    models = ((SampleController<InvoiceItem>
        )ViewContext.Controller).DataSource;

    _profile = Context.GetUser();
}

<table id="tblAction" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="Bargain_btn">
            @if (_profile.CurrentUserRole.OrganizationCategory.Organization.ReceiptNo != "0000000000")
            {
                <button type="button" class="btn" name="paperStyle" value="A4" onclick="uiInvoiceQuery.print('A4');">A4格式列印</button>
                @*(列印兌獎訊息：<input name="printBack" type="radio" value="true" />是
                    <input name="printBack" type="radio" value="false" />否)*@
            }
            else
            {
                <input type="button" class="btn" name="btnPrint" value="熱感紙規格列印" onclick="uiInvoiceQuery.print('POS');" />
                @*(列印買受人地址：<input name="printBuyerAddr" type="radio" value="true" />是
                    <input name="printBuyerAddr" type="radio" value="false" />否)*@
            }
            <input type="button" class="btn" name="btnPrint" value="Excel下載" onclick="uiInvoiceQuery.download2021();" />
        </td>
    </tr>
</table>





