
@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@{
    InquireInvoiceViewModel _viewModel;
    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}

<table id="tblAction" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <button type="button" class="btn" name="btnDoCancel" onclick="uiInvoiceQuery.commitAction();">執行@(_viewModel.ActionTitle)</button>
        </td>
    </tr>
</table>



