
@using res=eIVOGo.Resource.Views.InvoiceProcess.ResultAction.DoAuthorize

<table id="tblAction" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="Bargain_btn">
            <button type="button" class="btn" name="btnAuthorize" onclick="uiInvoiceQuery.authorize();">@res.核准列印</button>
        </td>
    </tr>
</table>