
@{ Register Src="~/Module/Common/PagingControl.ascx" TagName="PagingControl" TagPrefix="uc2" }
@{ Register Assembly="Model" Namespace="Model.DataEntity" TagPrefix="cc1" }
@{ Register Src="~/Module/Common/ActionHandler.ascx" TagName="ActionHandler" TagPrefix="uc1" }
@using System.IO
@using System.Linq.Expressions


@using Model.DataEntity
@using Model.Locale
@using Utility

    <table id="tblAction" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td >
                <button type="button" class="btn" name="btnVoid" onclick="uiInvoiceQuery.voidInvoice(@((int)Naming.VoidActionMode.註銷重開));">註銷發票</button>&nbsp;&nbsp;
                <button type="button" class="btn" name="btnVoidCancellation" onclick="uiInvoiceQuery.voidInvoice(@((int)Naming.VoidActionMode.註銷作廢));">註銷作廢發票</button>
            </td>
        </tr>
    </table>


<script runat="server">


    protected override void OnInit(EventArgs e)
    {
        base.OnInit(e);
    }

</script>

