@using System.IO
@using System.Linq.Expressions
@using Model.DataEntity
@using Model.Locale
@using Utility
@using res=eIVOGo.Resource.Views.InvoiceProcess.ResultAction.DoVoid

<table id="tblAction" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="Bargain_btn">
            <button type="button" class="btn" name="btnVoid" onclick="uiInvoiceQuery.voidInvoice(@((int)Naming.VoidActionMode.註銷重開));">@res.註銷發票</button>&nbsp;&nbsp;
            <button type="button" class="btn" name="btnVoidCancellation" onclick="uiInvoiceQuery.voidInvoice(@((int)Naming.VoidActionMode.註銷作廢));">@res.註銷作廢發票</button>
        </td>
    </tr>
</table>