
@using System.IO
@using System.Linq.Expressions


@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Locale
@using Utility
@{

    InquireInvoiceViewModel _viewModel;

    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}

<table id="tblAction" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td >
            <button type="button" class="btn" name="btnNotify" onclick="uiInvoiceQuery.C0401();">下載C0401</button>
            <button type="button" class="btn" name="btnNotify" onclick="uiInvoiceQuery.C0701();">下載C0701</button>
            @if (_viewModel.Cancelled == true)
            {
                <button type="button" class="btn" name="btnNotify" onclick="uiInvoiceQuery.C0501();">下載C0501</button>
            }
        </td>
    </tr>
</table>



