@using System.IO
@using System.Linq.Expressions


@using Model.DataEntity
@using Model.Locale
@using Model.Security.MembershipManagement
@using Utility
@using eIVOGo.Helper
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Business.Helper
@using Model.Helper
@{

    UserProfileMember _profile;

    _profile = Context.GetUser();
}
<table id="tblAction" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            @{ Html.RenderPartial("~/Views/InvoiceProcess/ResultAction/PrintAction.cshtml");}

            <input type="button" class="btn mr-2" name="btnPrint" value="Excel下載" onclick="uiInvoiceQuery.download2021();" />
            @if (_profile.IsSystemAdmin())
            {
                <input type="button" class="btn mr-2" name="btnBuyer" value="下載買受人資料" onclick="uiInvoiceQuery.saveBuyer();" />
            }
            @if (_profile.IsSystemAdmin() || _profile.CurrentUserRole.OrganizationCategory.Organization.ReceiptNo == "43460094")
            {
                <input type="button" class="btn mr-2" name="btnPrint" value="ERP下載" onclick="uiInvoiceQuery.downloadERP();" />
                <script>
                    uiInvoiceQuery.downloadERP = function () {

                        var $formData = $('#queryArea').find('input,select,textarea').serializeObject();
                        $formData = $.extend($formData, $('input[name="chkItem"]').serializeObject());
                        showLoading();
                        $.post('@(Url.Action("CreateCustomERPResult", "InvoiceProcess"))', $formData, function (data) {
                            hideLoading();
                            if ($.isPlainObject(data)) {
                                if (data.message != undefined) {
                                    alert(data.message);
                                }
                            } else {
                                $(data).appendTo($('body'));
                            }
                        });

                    }
                </script>
            }
        </td>
    </tr>
</table>




