@using System.IO
@using System.Linq.Expressions


@using Model.DataEntity
@using Model.Locale
@using Model.Security.MembershipManagement
@using Utility
@using eIVOGo.Helper
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Business.Helper
@using Model.Helper
@{

    UserProfileMember _profile;

    _profile = Context.GetUser();
}
<table id="tblAction" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="Bargain_btn">
            @{ Html.RenderPartial("~/Views/InvoiceProcess/ResultAction/PrintAction.cshtml");}

            <input type="button" class="btn" name="btnPrint" value="Excel下載" onclick="uiInvoiceQuery.download2021();" />
            @if (_profile.IsSystemAdmin())
            {
                <input type="button" class="btn" name="btnBuyer" value="下載買受人資料" onclick="uiInvoiceQuery.saveBuyer();" />
            }
        </td>
    </tr>
</table>




