@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using eIVOGo.Models
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
<!--路徑名稱-->
@{ 
    Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "中獎統計表");
}
<div class="border_gray">
    <!--表格 開始-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th colspan="2" class="Head_style_a">
                查詢條件
            </th>
        </tr>
        @{ ((CommonInquiry<InvoiceItem>)this.Model).Render(Html);}

    </table>
    <!--表格 結束-->
</div>
@{ ((CommonInquiry<InvoiceItem>)this.Model).RenderAlert(Html);}

<!--按鈕-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="Bargain_btn">
            <input type="button" value="查詢" name="btnQuery" class="btn" onclick="$('form').prop('action', '@(Url.Action("InquireReport"))    ').submit();" />
        </td>
    </tr>
</table>


