@using System.IO
@using System.Linq.Expressions

@using Business.Helper
@using DataAccessLayer.basis
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Security.MembershipManagement
@using Model.Models.ViewModel
@using Utility
@using Uxnet.Web.WebUI
@using Newtonsoft.Json
@{

    IQueryable<Organization> _model = (IQueryable<Organization>)this.Model;

}

<table class="table table-small-font table-bordered table-striped table01 companyList">
    <thead>
        <tr>
            <th>
                <a href="javascript:void(0);" onclick="$inquiryAgent.sort('CompanyName',this);">營業人名稱</a>
            </th>
            <th>
                <a href="javascript:void(0);" onclick="$inquiryAgent.sort('ReceiptNo',this);">統一編號</a>
            </th>
            <th>負責人姓名</th>
            <th>電子郵件</th>
            <th>營業人狀態</th>
            <th>管理</th>
        </tr>
    </thead>
    <tbody>
        @{
            Html.RenderPartial("~/Views/OrganizationQuery/Module/CompanyItemList.cshtml");
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="6">
                <a class="btn" onclick="createCompany();">新增開立人</a>
            </td>
        </tr>
    </tfoot>
</table>

<script>
    $inquiryAgent.doPage = function (data) {
        $('table.companyList tbody')
            .empty()
            .append(data);
    };
</script>

