
@using System.IO
@using System.Linq.Expressions


@using eIVOGo.Helper
@using Model.Locale
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using eIVOGo.Controllers
@{
    Layout = "~/Views/Template/ContentPage.cshtml";

    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    OrganizationViewModel _viewModel;
    Organization _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _viewModel = (OrganizationViewModel)ViewBag.ViewModel;
    _model = (Organization)this.Model;
}

@{ 
    Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.cshtml", "Join UXB2B eGUI");
}

<form id="editItem">
    @{ Html.RenderPartial("~/Views/Organization/CBE/ItemForm.cshtml", _model);}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <!--表格 開始-->
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <td class="Bargain_btn" align="center">
                            <button type="button" onclick="$global.commitOrganization();" name="UpdateButton" class="btn">Confirm</button>
                            &nbsp;
                            <input name="Reset" type="reset" class="btn" value="Refill" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>
<script>
    $(function () {
        $global.commitOrganization = function () {
            $form = $('#editItem');
            showLoading();
            clearErrors();
            $.post('@(Url.Action("CommitCBESignUp","Account",new { _viewModel.KeyID }))', $form.serializeObject(), function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    if (data.result) {
                        alert('Sign up successfully. We\'ll send the confirmation to you soon. Thank you !!');
                        window.location.href = '@(VirtualPathUtility.ToAbsolute("~/Published/Promotion/Pricing.html"))';
                    } else {
                        alert(data.message);
                    }
                } else {
                    $(data).appendTo($('body'));
                }
            });
        };
    });
</script>

