
@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using System.Xml
@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Locale
@using Model.Schema.EIVO
@using Utility
@using Business.Helper
@using Model.Helper
@using Uxnet.Web.WebUI
@{

    ModelSource<InvoiceItem> models;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
}
<!DOCTYPE html>
<html>
<head>
    <title>
        春節假期營運通知
    </title>
</head>
<body>
    <form>
        <p>
        親愛的電子發票夥伴您好,
        </p>
        <p>&nbsp;</p>
        <p>
            首先向各位夥伴祝賀新年快樂,今年的春節假期將自2/8開始至2/14,春節期間電子發票主機也將維持正常營運,如果各位夥伴在春節期間有遇到問題,可以與您的系統服務團隊反映,加值中心收到後也會如往年提供各位服務與協助。
        </p>
        <p>
            電子發票服務團隊在此也預祝大家 好運龍來、生意興龍、龍年行大運 !
        </p>
        <p>&nbsp;</p>
        <p>
            如有任何問題歡迎與我們聯繫
        </p>
        <p>
            客服電話：<span class="blue">0800-010-626</span>
        </p>
        <p>
            網際優勢加值服務中心
        </p>
    </form>
</body>
</html>

