
@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using System.Xml
@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Locale
@using Model.Schema.EIVO
@using Utility
@using Business.Helper
@using Model.Helper
@using Uxnet.Web.WebUI
@{

    ModelSource<InvoiceItem> models;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
}
<!DOCTYPE html>
<html>
<head>
    <title>財政部電子發票整合服務平台服務升級暫停營運通知</title>
</head>
<body>
    <form>
        <p>
            親愛的營業人,
        </p>
        <p>&nbsp;</p>
        <p>
            財政部電子發票整合服務平台預計於111年7月12日21:00至13日05:00進行服務升級，作業期間將暫停營運服務。
        </p>
        <p>
            網優加值中心配合財政部電子發票整合服務平台升級作業期間，將暫停所有營業人上傳電子發票至大平台作業，所有營業人電子發票資料將暫存於加值中心待傳區，待財政部電子發票整合服務平台恢復作業後，始恢復電子發票上傳。
        </p>
        <p>
            本通知為加值中心配合大平台之作業，所有營業人不需進行任何作業上的變動。
        </p>
        <p>&nbsp;</p>
        <p>
            網際優勢加值服務中心
        </p>
    </form>
</body>
</html>

