
@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using System.Xml
@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Model.Schema.EIVO
@using Utility
@using Uxnet.Web.WebUI
@{

    ModelSource<InvoiceItem> models;
    InvoiceAllowance _model;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _model = (InvoiceAllowance)this.Model;

}
@if (_model.InvoiceAllowanceSeller.Organization.OrganizationStatus.InvoiceNoticeSetting.CheckNotice(Naming.InvoiceNoticeStatus.UseCustomStyle))
{
    ViewBag.MailTitle = "發票折讓證明";
    Html.RenderPartial("~/Views/Notification/Module/MailTitle.cshtml", _model.InvoiceAllowanceSeller.Organization);
}
else
{
    <p>親愛的客戶您好：</p>
    <p>
        @(_model.InvoiceAllowanceSeller.CustomerName)
        已開立您下述電子發票折讓證明，請知悉。<br />
    </p>
}
@{ Html.RenderPartial("~/Views/Notification/Module/AllowanceMailView.cshtml", _model);}
@if (_model.Organization.OrganizationExtension?.CustomNotification != null)
{
    Write(new HtmlString(_model.Organization.OrganizationExtension?.CustomNotification));
    <br />
}
信件寄送時間：@(DateTime.Now)
