
@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@{

    ModelSource<InvoiceItem> models;
    IQueryable<ExceptionLog> _model;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _model = (IQueryable<ExceptionLog>)this.Model;

}

@*發票錯誤訊息*@
<div align="center">
    下列資料由商家上傳時,發生錯誤,請處理!!
</div>
@{ Html.RenderPartial("~/Views/Notification/Module/InvoiceException.cshtml", _model.Where(g => g.TypeID == (int)Naming.DocumentTypeDefinition.E_Invoice));}

@{ Html.RenderPartial("~/Views/Notification/Module/InvoiceCancellationException.cshtml", _model.Where(g => g.TypeID == (int)Naming.DocumentTypeDefinition.E_InvoiceCancellation));}

@{ Html.RenderPartial("~/Views/Notification/Module/AllowanceException.cshtml", _model.Where(g => g.TypeID == (int)Naming.DocumentTypeDefinition.E_Allowance));}

@{ Html.RenderPartial("~/Views/Notification/Module/AllowanceCancellationException.cshtml", _model.Where(g => g.TypeID == (int)Naming.DocumentTypeDefinition.E_Allowance));}



