
@using System.IO
@using System.Linq.Expressions
@using System.Data

@using Business.Helper
@using Model.Helper
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Controllers
@using eIVOGo.Models.ViewModel
@using eIVOGo.Controllers.TrackCodeNo
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI

@{
    ModelSource<InvoiceItem> models;
    IEnumerable< UploadInvoiceTrackCodeModel> _model = this.Model as IEnumerable<UploadInvoiceTrackCodeModel>;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
}

@if(_model!=null)
{
    <div class="border_gray" id="queryResult">
        <table class="table01 itemList">
            <thead>
                <tr>
                    <th style="min-width: 100px">營業人統一編號</th>
                    <th style="min-width: 100px">發票年度</th>
                    <th style="min-width: 100px">月份</th>
                    <th style="min-width: 80px">字軌</th>
                    <th style="min-width: 160px">發票號碼起</th>
                    <th style="min-width: 160px">發票號碼迄</th>
                    <th style="min-width: 150px"></th>
                </tr>
            </thead>
            @{
                foreach (var item in _model)
                {
                    Html.RenderPartial("~/Views/InvoiceNo/Module/EditInvoiceTrackCodeNo.cshtml", item);
                }
            }
        </table>
        @if (_model.Any(t => t.Message == null))
        {
            <table id="tblAction" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="Bargain_btn">
                        <button type="button" class="btn" name="btnCommit" onclick="commitItems();">確定上傳</button>
                    </td>
                </tr>
            </table>
            <script>

                function commitItems() {
                    var event = event || window.event;

                    var $formData = $('#queryResult').find('input,select,textarea').serializeObject();
                    clearErrors();
                    showLoading();
                    $.post('@(Url.Action("CommitUpload", "InvoiceNo"))', $formData, function (data) {
                        hideLoading();
                        if ($.isPlainObject(data)) {
                            if (data.result) {

                            } else {
                                alert(data.message);
                            }
                        } else {
                            var $parent = $('#queryResult').parent();
                            $('#queryResult').remove();
                            $parent.append(data);
                        }
                    });
                }
            </script>
        }
    </div>
}




