
@using System.IO
@using System.Linq.Expressions


@using eIVOGo.Helper
@using Model.Locale
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using eIVOGo.Controllers

<select name="TrackID">
    @if (_items.Count() > 0 && !String.IsNullOrEmpty(_viewModel.SelectIndication))
        {
            <option value="">@(_viewModel.SelectIndication)</option>
    }
    @foreach (var item in _items)
        {
    <option value="@(item.TrackID)">@(item.TrackCode)</option>
    }
</select>

<script runat="server">

    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    InquireNoIntervalViewModel _viewModel;
    IEnumerable<InvoiceTrackCode> _items;

    protected override void OnInit(EventArgs e)
    {
        base.OnInit(e);

        models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
        _viewModel = (InquireNoIntervalViewModel)ViewBag.ViewModel;
        if(_viewModel!=null)
        {
            _items = models.GetTable<InvoiceTrackCode>().Where(t => t.Year == _viewModel.Year && t.PeriodNo == _viewModel.PeriodNo);
        }
        else
        {
            _items = models.GetTable<InvoiceTrackCode>().Where(t => false);
        }
    }

</script>

