
@using System.IO
@using System.Linq.Expressions


@using eIVOGo.Helper
@using Model.Locale
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Security.MembershipManagement
@using Business.Helper
@using Model.Helper
@using eIVOGo.Controllers
@{
    int? _idx = (TempData["ImportData"] as int?) ?? 0;
    TempData["ImportData"] = _idx + 1;
}

    <tr>
        <th>
            財政部大平台<br />發票字軌號碼
        </th>
        <td class="tdleft">
            <input type="button" id="@($"btnImportData{_idx}")" value="立即傳送(CSV)" class="mr-2" />
            <script>
                        $(function () {

                            var $btn = $('#@($"btnImportData{_idx}")');
                            var $file = $('<input name="theFile" type="file" style="display: none;" />');
                            $btn.before($file);

                            $btn.click(function () {
                                $file.val('');
                                $file.click();
                            });

                            var $result;

                            $file.on('change', function (event) {
                                clearErrors();
                                var $formData = $('form').find('input,select,textArea').serializeObject();
                                uploadFile($file, $formData, '@Html.Raw(Url.Action("UploadToPreviewMOF", "InvoiceNo"))',
                                    function (data) {
                                        $btn.before($file);
                                        if ($.isPlainObject(data)) {
                                            if (data.result) {

                                            } else {
                                                alert(data.message);
                                            }
                                        } else {
                                            if ($result) {
                                                $result.remove();
                                            }
                                            $result = $(data);
                                            $('#queryArea').after($result);
                                        }
                                    },
                                    function () {
                                        $btn.before($file);
                                    });
                            });
                        });
            </script>
            @{ 
                Html.RenderPartial("~/Views/InvoiceNo/Module/UploadE0501.cshtml");
            }
        </td>
    </tr>

