@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@{

    ModelSource<InvoiceItem> models;
    IQueryable<InvoiceAllowance> _model;
    String _listID = "itemList" + DateTime.Now.Ticks;
    InquireInvoiceViewModel _viewModel;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _model = (IQueryable<InvoiceAllowance>)this.Model;
    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;

}
<table id="@(_listID)" class="table01 itemList">
    <thead>
        <tr>
            <th aria-sort="other">
                <input name="chkAll" type="checkbox" />
            </th>
            <th data-sort="1">日期</th>
            <th data-sort="2">Customer ID</th>
            <th data-sort="3">開立發票營業人</th>
            <th data-sort="4">統編</th>
            <th data-sort="5">折讓號碼</th>
            <th aria-sort="other">大平台折讓單證號碼</th>
            <th data-sort="6">未稅金額</th>
            <th data-sort="7">稅額</th>
            <th aria-sort="other">含稅金額</th>
            <th aria-sort="other">幣別</th>
            <th data-sort="9">買受人統編</th>
            <th data-sort="other">買受人EMail</th>
            <th aria-sort="other">備註</th>
        </tr>
    </thead>
    <tbody>
        @{ Html.RenderPartial("~/Views/AllowanceProcess/Module/ItemList.cshtml", _model);}

    </tbody>
    <tfoot>
        <tr>
            <td colspan="14">
                @if (_viewModel?.CurrencySummary == true)
                {
                    foreach (var g in _model.GroupBy(i => i.CurrencyID))
                    {
                        var currency = g.Key.HasValue ? models.GetTable<CurrencyType>().Where(c => c.CurrencyID == g.Key).FirstOrDefault()?.AbbrevName : "TWD-不含境外電商";
                        <text>
                            未稅金額總計(@(currency))：&nbsp;@(String.Format("{0:##,###,###,##0.##}",g.Sum(i=>i.TotalAmount)))，
                            稅額總計(@(currency))：&nbsp;@(String.Format("{0:##,###,###,##0.##}",g.Sum(i=>i.TaxAmount)))<br />
                        </text>
                    }
                }

                <script>
                    debugger;
                    $(function () {

                        var $table = $('#@(_listID)');

                        uiAllowanceQuery.paging = function (data) {
                            //uiAllowanceQuery.pagePlacement.html(data);
                            var $tbody = $table.find('tbody');
                            $tbody.empty();
                            var $data = $(data);
                            $data.appendTo($('body')).appendTo($tbody);
                        };

                        uiAllowanceQuery.sort = (function () {
                            var orderBy = [];

                            initSortable($table, uiAllowanceQuery.inquire, uiAllowanceQuery.pageIndex, orderBy);

                            this.getSort = function () {
                                return orderBy;
                            };

                            return this;
                        })();

                        var chkBox = $(".itemList input[name='chkAll']");
                        var chkItem = $(".itemList input[name='chkItem']");
                        chkBox.click(function () {
                            chkItem.prop('checked', chkBox.is(':checked'));
                        });

                        chkItem.click(function (e) {
                            if (!$(this).is(':checked')) {
                                chkBox.prop('checked', false);
                            }
                        });

                    });
                </script>
            </td>
        </tr>
    </tfoot>
</table>




