@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@{

    ModelSource<InvoiceItem> models;
    IQueryable<InvoiceAllowance> _model;
    String _listID = "itemList" + DateTime.Now.Ticks;
    InquireInvoiceViewModel _viewModel;

    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _model = (IQueryable<InvoiceAllowance>)this.Model;
    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;

}
<table id="@(_listID)" class="table01 itemList">
    <thead>
        <tr>
            <th aria-sort="other">
                <input name="chkAll" type="checkbox" />
            </th>
            <th><a href="javascript:void(0);" onclick="$inquiryAgent.sort('AllowanceDate',this);">日期</a></th>
            <th><a href="javascript:void(0);" onclick="$inquiryAgent.sort('CustomerID',this);">Customer ID</a></th>
            <th><a href="javascript:void(0);" onclick="$inquiryAgent.sort('Seller',this);">開立發票營業人</a></th>
            <th><a href="javascript:void(0);" onclick="$inquiryAgent.sort('ReceiptNo',this);">統編</a></th>
            <th><a href="javascript:void(0);" onclick="$inquiryAgent.sort('AllowanceNo',this);">折讓號碼</a></th>
            <th aria-sort="other">大平台折讓單證號碼</th>
            <th><a href="javascript:void(0);" onclick="$inquiryAgent.sort('SalesAmount',this);">未稅金額</a></th>
            <th><a href="javascript:void(0);" onclick="$inquiryAgent.sort('TaxAmount',this);">稅額</a></th>
            <th aria-sort="other">含稅金額</th>
            <th aria-sort="other">幣別</th>
            <th><a href="javascript:void(0);" onclick="$inquiryAgent.sort('BuyerNo',this);">買受人統編</a></th>
            <th>買受人EMail</th>
            <th aria-sort="other">備註</th>
        </tr>
    </thead>
    <tbody>
        @{ Html.RenderPartial("~/Views/AllowanceProcess/Module/ItemList.cshtml", _model);}

    </tbody>
    <tfoot>
        <tr>
            <td colspan="14">
                @if (_viewModel?.CurrencySummary == true)
                {
                    foreach (var g in _model.GroupBy(i => i.CurrencyID))
                    {
                        var currency = g.Key.HasValue ? models.GetTable<CurrencyType>().Where(c => c.CurrencyID == g.Key).FirstOrDefault()?.AbbrevName : "TWD-不含境外電商";
                        <text>
                            未稅金額總計(@(currency))：&nbsp;@(String.Format("{0:##,###,###,##0.##}",g.Sum(i=>i.TotalAmount)))，
                            稅額總計(@(currency))：&nbsp;@(String.Format("{0:##,###,###,##0.##}",g.Sum(i=>i.TaxAmount)))<br />
                        </text>
                    }
                }
                                
            </td>
        </tr>
    </tfoot>
</table>
<script>
    $(function () {
        $("#@(_listID)").find("input[name='chkAll']")
            .click(function () {
                $("#@(_listID)").find("input[name='chkItem']")
                    .prop('checked', $(this).is(':checked'));
            });

        $("#@(_listID)").find("input[name='chkItem']")
            .click(function (e) {
                if (!$(this).is(':checked')) {
                    $("#@(_listID)").find("input[name='chkAll']").prop('checked', false);
                }
            });
    });
    $inquiryAgent.doPage = function (data) {
        $('#@(_listID) tbody')
            .empty()
            .append(data);

        $("#@(_listID)").find("input[name='chkItem']")
            .click(function (e) {
                if (!$(this).is(':checked')) {
                    $("#@(_listID)").find("input[name='chkAll']").prop('checked', false);
                }
            });
    };
</script>



