@using Model.Models.ViewModel
@using Model.Locale
@using res=eIVOGo.Resource.Views.AllowanceProcess.Module.PrintResult

@{ 
    RenderStyleViewModel _viewModel;
    _viewModel = (RenderStyleViewModel)ViewBag.ViewModel;
}

<div>
    <a href="@(Url.Action(_viewModel.ProcessType == Naming.InvoiceProcessType.B0401
            ? "PrintB0401AsPDF"
            : "PrintD0401AsPDF","DataView"))" target="_blank">@res.列印資料下載</a>
    <br />
    <a href="@(Url.Action(_viewModel.ProcessType == Naming.InvoiceProcessType.B0401
            ? "PrintB0401"
            : "PrintD0401","DataView"))" target="_blank">@res.網頁列印</a>
</div>