
@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using Newtonsoft.Json
@using eIVOGo.Controllers
@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using eIVOGo.Module.Common
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Business.Helper
@using Uxnet.Web.WebUI

<div>
    <a href="@(Url.Action(_viewModel.ProcessType == Naming.InvoiceProcessType.B0401
            ? "PrintB0401AsPDF"
            : "PrintD0401AsPDF","DataView"))" target="_blank">列印資料下載</a>
    <br />
    <a href="@(Url.Action(_viewModel.ProcessType == Naming.InvoiceProcessType.B0401
            ? "PrintB0401"
            : "PrintD0401","DataView"))" target="_blank">網頁列印</a>
</div>


<script runat="server">

    RenderStyleViewModel _viewModel;

    protected override void OnInit(EventArgs e)
    {
        base.OnInit(e);
        _viewModel = (RenderStyleViewModel)ViewBag.ViewModel;
    }

</script>
