
@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@{
    ModelSource<InvoiceItem> models;
    IQueryable<InvoiceAllowance> _model;
    InquireInvoiceViewModel _viewModel;



    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;

    _model = (IQueryable<InvoiceAllowance>)this.Model;
}
@{ Html.RenderPartial("~/Views/SiteAction/FunctionTitleBar.ascx", "查詢結果");}

<div class="border_gray" style="overflow-x: auto;">
    @{ var recordCount = _model.Count();}
    @if (recordCount > 0)
    {
        Html.RenderPartial("~/Views/AllowanceProcess/Module/AllowanceQueryPaging.ascx", _model);
        Html.RenderPartial("~/Views/AllowanceProcess/Module/ResultAction.cshtml", _model);
    }
    else
    {
        <font color="red">查無資料!!</font>
    }
</div>




