
@using System.IO
@using System.Linq.Expressions

@using eIVOGo.Helper
@using eIVOGo.Models
@using eIVOGo.Models.ViewModel
@using Model.Models.ViewModel
@using eIVOGo.Controllers
@using Model.DataEntity
@using Model.Helper
@using Model.Locale
@using Utility
@using Uxnet.Web.WebUI
@functions
{
    ModelSource<InvoiceItem> models;
    InquireInvoiceViewModel _viewModel;
}
@{

    ModelStateDictionary _modelState;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<InvoiceItem>)ViewContext.Controller).DataSource;
    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;

}
@{
    _viewModel.DataColumns.Add(new QueryResultDataColumnHelper
    {
        ShowHeader = ShowHeader,
        ShowBody = ShowBody,
        ShowFooter = ShowFooter
    });
}

@helper ShowHeader(dynamic item)
{
}

@helper ShowBody(dynamic po)
{

}

@helper ShowFooter(dynamic item)
{
    IQueryable<InvoiceItem> items = (IQueryable<InvoiceItem>)item;
    <td colspan="25">
        @if (_viewModel?.CurrencySummary == true)
        {
            foreach (var g in items.GroupBy(i => i.InvoiceAmountType.CurrencyID))
            {
                var currency = g.Key.HasValue ? models.GetTable<CurrencyType>().Where(c => c.CurrencyID == g.Key).FirstOrDefault()?.AbbrevName : "TWD";
                <text>
                    含稅金額總計(@(currency))：&nbsp;@(String.Format("{0:##,###,###,##0.##}",g.Sum(i=>i.InvoiceAmountType.TotalAmount)))，
                    未稅金額總計(@(currency))：&nbsp;@(String.Format("{0:##,###,###,##0.##}",g.Sum(i=>i.InvoiceAmountType.SalesAmount)))，
                    稅額總計(@(currency))：&nbsp;@(String.Format("{0:##,###,###,##0.##}",g.Sum(i=>i.InvoiceAmountType.TaxAmount)))<br />
                </text>
            }
        }
    </td>
}



